﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<title>@ViewData["Title"] - VirtualHospital</title>*@
    <title>คิดถึงหมอ : หน้าหลัก</title>
    <link rel="stylesheet" href="~/css/main.css">
</head>
<style>
    ul.header-notifications li a .lang img {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

    .dropdown-menu {
        padding: 0px;
    }
</style>
<body>
    <header class="header">
        <div class="container-fluid" id="include_header">
            <div class="row gutters">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                    <a href="index" class="logo">คิดถึงหมอ<span></span></a>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
                    <ul class="header-actions">
                        <li class="dropdown d-none d-sm-block text-right">
                            <a href="javascript:void(0);" id="change_language" data-toggle="dropdown" aria-haspopup="true">
                                <img src="/images/flag_th.png" style="width: 25px;" />
                                <span></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="change_language" style="max-width: 40px; width: 40px; min-width: 0px; left: 7px;">
                                <ul class="header-notifications">
                                    <li>
                                        <a href="javascript:void(0);" class="clearfix" style="padding: 3px;">
                                            <div class="lang">
                                                <img src="/images/flag_uk.png" style="width: 100%; filter: grayscale(100%);" />
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="clearfix" style="padding: 3px;">
                                            <div class="lang">
                                                <img src="/images/flag_ch.png" style="width: 100%; filter: grayscale(100%);" />
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="dropdown d-none d-sm-block">
                            <a href="javascript:void(0);" class="contact">
                                <i class="icon-phone"></i> 02 256 4000
                            </a>
                        </li>
                        <li class="dropdown d-none d-sm-block">
                            <a href="javascript:void(0);" id="notifications" data-toggle="dropdown" aria-haspopup="true">
                                <i class="icon-bell"></i>
                                <span class="count-label"></span>
                            </a>
                            <div class="dropdown-menu lrg" aria-labelledby="notifications">
                                <div class="dropdown-menu-header">
                                    <h5>แจ้งเตือน</h5>
                                    <p class="m-0 sub-title">คุณมี 3 ข้อความที่ยังไม่ได้อ่าน</p>
                                </div>
                                <ul class="header-notifications">
                                    <li>
                                        <a href="javascript:void(0);" class="clearfix">
                                            <div class="avatar">
                                                <img src="/images/doctor_1.png" alt="" />
                                                <span class="notify-iocn icon-drafts text-danger"></span>
                                            </div>
                                            <div class="details">
                                                <h6>นพ. สะอาด อนามัย</h6>
                                                <p>นัดหมายใหม่ 20/02/2019</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="clearfix">
                                            <div class="avatar">
                                                <img src="/images/doctor_1.png" alt="" />
                                                <span class="notify-iocn icon-layers text-info"></span>
                                            </div>
                                            <div class="details">
                                                <h6>นญ. น่ารัก อนามัย</h6>
                                                <p>นัดหมายใหม่ 21/02/2019</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="clearfix">
                                            <div class="avatar">
                                                <img src="/images/doctor_1.png" alt="" />
                                                <span class="notify-iocn icon-person_add text-success"></span>
                                            </div>
                                            <div class="details">
                                                <h6>นพ. สบาย อนามัย</h6>
                                                <p>นัดหมายใหม่ 22/02/2019</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" id="userSettings" class="user-settings" data-toggle="dropdown" aria-haspopup="true">
                                <span class="user-name" id="DortorName_1"></span>
                                <span class="avatar">Dr.<span class="status busy"></span></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userSettings">
                                <div class="header-profile-actions">
                                    <div class="header-user-profile">
                                        <div class="header-user">
                                            <img src="/images/doctor_1.png" alt="" />
                                        </div>
                                        <h5 id="DortorName_2"></h5>
                                        <p>แพทย์ทั่วไป</p>
                                    </div>
                                    <a href="javascript:void(0);"><i class="icon-user1"></i> My Profile</a>
                                    <a href="javascript:void(0);"><i class="icon-settings1"></i> Account Settings</a>
                                    <a href="javascript:void(0);"><i class="icon-activity"></i> Activity Logs</a>
                                    <a href="javascript:void(0);" onclick="logout();"><i class="icon-log-out1"></i> Sign Out</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg custom-navbar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#royalHospitalsNavbar" aria-controls="royalHospitalsNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="royalHospitalsNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" id="main_index" href="index">
                        <i class="icon-devices_other nav-icon"></i>
                        หน้าหลัก
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="appointment" id="menu_appointment" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-users nav-icon"></i>
                        นัดหมาย
                    </a>
                </li>
                <li class="nav-item BindPhama">
                    <a class="nav-link" href="history" id="menu_history" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-edit1 nav-icon"></i>
                        ประวัติการรักษา
                    </a>
                </li>
                <li class="nav-item dropdown BindPhama BindNurse">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="menu_lab" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-book-open nav-icon"></i>
                        ผลแล็บ
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="menu_lab">
                        <li>
                            <a class="dropdown-item" href="lab_drawblood">เจาะเลือด</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="lab_xray">X-Ray</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="lab_ctscan">CT-Scan</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="lab_mri">MRI</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item BindPhama BindNurse">
                    <a class="nav-link" href="approve_request" id="menu_approve_request" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-image nav-icon"></i>
                        อนุมัติคำขอ
                    </a>
                </li>
                <li class="nav-item BindPhama BindNurse">
                    <a class="nav-link" href="reports" id="menu_reports" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-border_all nav-icon"></i>
                        รายงาน
                    </a>
                </li>
                <li class="nav-item BindPhama BindNurse">
                    <a class="nav-link" href="setting" id="menu_settings" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-image nav-icon"></i>
                        ตั้งค่า
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    @RenderBody()


    <div>
        © คิดถึงหมอ
    </div>

    <script language="javascript">
        jQuery(document).ready(function () {
            var getDoctor_id = sessionStorage.getItem("doctor_id");
            var getDoctorName = sessionStorage.getItem("DoctorName");
            if (getDoctor_id != "" && getDoctor_id != null && getDoctor_id != undefined) {
                jQuery("#DortorName_1").html(getDoctorName);
                jQuery("#DortorName_2").html(getDoctorName);
            } else {
                window.location.href = "Doctor/login";
            }

            // UPDATE PERMISSION BY ID 2020-08-19  START =================================================================================
            var getDoctor_id = sessionStorage.getItem("doctor_id");
            // UPDATE PERMISSION BY ID 2020-08-19  END ===================================================================================
            var pathname = window.location.pathname;
            jQuery(".active-page").each(function (index) {
                jQuery(this).removeClass("active-page");
            });
            if ((pathname.indexOf("/appointment") > -1) || (pathname.indexOf("/operation") > -1) || (pathname.indexOf("/medical_certificate") > -1)) {
                jQuery("#menu_appointment").addClass("active-page");
            } else if ((pathname.indexOf("/lab_drawblood") > -1) || (pathname.indexOf("/lab_xray") > -1) || (pathname.indexOf("/lab_ctscan") > -1) || (pathname.indexOf("/lab_mri") > -1)) {
                jQuery("#menu_lab").addClass("active-page");
            } else if ((pathname.indexOf("/lab_drawblood_details") > -1) || (pathname.indexOf("/lab_xray_details") > -1) || (pathname.indexOf("/lab_ctscan_details") > -1) || (pathname.indexOf("/lab_mri_details") > -1)) {
                jQuery("#menu_lab").addClass("active-page");
            } else if ((pathname.indexOf("/history") > -1) || (pathname.indexOf("/history_details") > -1)) {
                jQuery("#menu_history").addClass("active-page");
            } else if ((pathname.indexOf("/approve_request") > -1) || (pathname.indexOf("/approve_request_details") > -1)) {
                jQuery("#menu_approve_request").addClass("active-page");
            } else if (pathname.indexOf("/reports") > -1) {
                jQuery("#menu_reports").addClass("active-page");
            } else if (pathname.indexOf("/settings") > -1) {
                jQuery("#menu_settings").addClass("active-page");
            } else {
                jQuery("#main_index").addClass("active-page");
            }
            // UPDATE PERMISSION BY ID 2020-08-19  START =================================================================================
            Permission(getDoctor_id);
            // UPDATE PERMISSION BY ID 2020-08-19  END ===================================================================================

        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
