.fc-event.fc-draggable, .fc-event[href] {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	background: #f2f4f8;
	color: #000000 !important;
	font-size: 12px;
}

.fc-event.fc-draggable:hover, .fc-event[href]:hover {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	background: #074b9c;
	color: #ffffff !important;
	font-size: 12px;
}

.fc-calendar {
  border-radius: 10px;
  background: #ffffff;
	margin-bottom: 1rem;
	box-shadow: 0 0 25px rgba(26, 107, 225, 0.1);
}

.fc-calendar .fc-toolbar {
	padding: 20px 25px 50px 25px;
	margin: 0;
	position: relative;
	border-bottom: 0;
	border-radius: 30px;
	background: transparent;
}
.fc-unthemed .fc-today {
	background-image: url('../../../img/img5.jpg');
	background-size: cover;
}

/*.fc-unthemed .fc-day-grid-event .fc-time {
	color: #ffffff;
}*/
.fc-unthemed .fc-divider, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead{
	border-color: #edf3fb;
}
.fc-unthemed .fc-popover {
	background: #e0e4ee;
}
.fc-icon-x:after {
	color: #E84234;
}
.fc-popover .fc-header .fc-title {
	font-size: 15px;
}

.fc-toolbar .fc-center {
	float: left;
}
@media(max-width:767px) {
	.fc-toolbar .fc-center {
		float: none;
		margin: 50px auto 20px auto;
	}
}
.fc-calendar .fc-toolbar .fc-center h2 {
	font-size: 2.1rem;
	padding: 0;
	color: #000000;
	font-weight: 300;
}

.fc-calendar .fc-toolbar .fc-prev-button, .fc-calendar .fc-toolbar .fc-next-button {
	position: absolute;
	background-color: #8359ca !important;
	background-image: none;
	border: none;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
	color: #ffffff;
	font-size: 16px;
	text-transform: uppercase;
}

.fc-calendar .fc-toolbar .fc-next-button {
	right: 20px;
}

.fc-calendar .fc-toolbar .fc-prev-button {
	right: 70px;
}

.fc-calendar .fc-toolbar .fc-right {
	position: absolute;
	bottom: 15px;
	right: 20px;
}

.fc-calendar .fc-toolbar .fc-right button {
	background: transparent;
	border: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
	font-size: 1rem;
	color: #000000;
}
.fc-today-button {
	color: #333333;
}
.fc-month-button {
	color: #E84234
}
.fc-agendaWeek-button {
	color: #32AB52;
}
.fc-agendaDay-button {
	color: #f5656c;
}
.fc-state-disabled {
	font-weight: 700;
}

.fc-calendar .fc-day-header {
	font-weight: 700;
	padding: 10px 5px;
	font-size: 14px;
	text-align: center;
	font-style: normal;
}
@media (max-width: 767px) {
	.fc-calendar .fc-day-header {
    padding: 5px;
    font-size: 12px;
	}
}
.fc table {
	font-size: .9rem;
	font-weight: 600;
	color: #000000;
	/*font-style: italic;*/
}
@media (max-width: 767px) {
	.fc table {
	font-size: 14px;
	font-weight: 600;
	}
}
.fc-basic-view td.fc-day-number, .fc-basic-view td.fc-week-number span {
	padding: 6px;
}
@media (max-width: 767px) {
	.fc-basic-view td.fc-day-number, .fc-basic-view td.fc-week-number span {
		padding: 2px;
	}
}
.fc-basic-view .fc-day-number, .fc-basic-view .fc-week-number {
	padding: 6px;
}
.fc-event {
	border: 0;
	padding: 5px 10px;
	font-size: 14px;
	margin: 2px 5px;
	border-radius: 0;
	cursor: move;
	font-weight: 300;
}
@media (max-width: 767px) {
	.fc-event {
		padding: 2px 10px;
	}
}
.external-events form .form-group {
	width: 100%;
	margin-bottom: 5px;
}

.external-events form .input-group {
	width: 100%;
}

.external-events form .input-group input {
	border-right: 0;
}

.external-events form .input-group input:focus {
	border-color: #f5656c;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.external-events form .input-group-addon {
	background: #fff;
}

.external-events .remove-event {
	float: right;
	cursor: pointer;
}


.fc-toolbar button:focus {
	outline: none;
}
.fc-unthemed .fc-divider, .fc-unthemed .fc-popover .fc-header {
	background: #FFFFFF;
}
.fc-popover .fc-header {
	padding: 7px 14px;
}

a.fc-more {
	position: relative;
	display: block;
	font-size: 12px;
}
@media (max-width: 767px) {
	a.fc-more {
		display: none;
	}
}
a.fc-more:after {
	content: "";
	position: absolute;
	vertical-align: middle;
	width: 11px;
	height: 20px;
	background: url("../../img/sprite.png");
	background-position: -6px -2px;
}

.ui-draggable {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}


.fc-view, .fc-view > table {
	padding: 1rem;
}
.fc td.fc-today {
	color: #8359ca;
}
/*.fc-day-grid-event .fc-time {
	color: #8359ca;
}
.fc-day-grid-event .fc-title {
	color: #8359ca;
}*/
.fc-row .fc-bg td.fc-day:hover {
	background: #d9e4ea;
}