﻿@page
@model Doctor.Pages.appointment_detailModel
@{
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>คิดถึงหมอ : นัดหมาย</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/main.css">

    <!-- Calendar css -->
    <link rel="stylesheet" href="~/css/fullcalendar.min.css">
    <link rel="stylesheet" href="~/css/custom-calendar.css">

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/function.js"></script>

    <!-- Datepicker css -->
    <link rel="stylesheet" href="~/css/classic.css">
    <link rel="stylesheet" href="~/css/classic.date.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>

        .vertical-timeline {
            width: 100%;
            position: relative;
        }

            .vertical-timeline::before {
                content: '';
                position: absolute;
                top: 0;
                left: 67px;
                height: 100%;
                width: 4px;
                background: #e9ecef;
                border-radius: .25rem
            }

        .vertical-timeline-element {
            position: relative;
            margin: 0 0 1rem
        }

        .vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
            visibility: visible;
            animation: cd-bounce-1 .8s
        }

        .vertical-timeline-element-icon {
            position: absolute;
            top: 0;
            left: 60px
        }

            .vertical-timeline-element-icon .badge-dot-xl {
                box-shadow: 0 0 0 5px #fff
            }

        .badge-dot-xl {
            width: 18px;
            height: 18px;
            position: relative
        }

        .badge:empty {
            display: none
        }

        .badge-dot-xl::before {
            content: '';
            width: 10px;
            height: 10px;
            border-radius: .25rem;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -5px 0 0 -5px;
            background: #fff
        }

        .vertical-timeline-element-content {
            position: relative;
            margin-left: 90px;
            font-size: .8rem
        }

            .vertical-timeline-element-content .timeline-title {
                font-size: .8rem;
                text-transform: uppercase;
                margin: 0 0 .5rem;
                padding: 2px 0 0;
                font-weight: bold
            }

        .vertical-timeline-element-date2 {
            display: block;
            position: absolute;
            left: -67px;
            top: 0;
            padding-right: 10px;
            text-align: right;
            color: #adb5bd;
            font-size: .7619rem;
        }

        .vertical-timeline-element-content .vertical-timeline-element-date {
            display: block;
            position: absolute;
            left: -90px;
            top: 0;
            padding-right: 10px;
            text-align: right;
            color: #adb5bd;
            font-size: .7619rem;
        }

        .avatar-timeline img {
            width: 80px !important;
            height: 80px !important;
            line-height: 80px !important;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
        }

        .avatar-timeline .notify-iocn {
            right: -20px !important;
        }

        .fc-event {
            font-size: 12px;
            cursor: pointer;
            background: #f2f4f8;
            color: #000000 !important;
        }

            .fc-event:hover {
                background: #074b9c;
                color: #ffffff !important;
            }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #f1f1f1
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }

        .sorting_asc {
            text-align: center;
            vertical-align: middle;
        }

        .sorting {
            text-align: center;
            vertical-align: middle;
        }

        .sorting_1 {
            text-align: center;
            vertical-align: middle;
        }

        .button {
            position: relative;
            background-color: #4CAF50;
            border: none;
            font-size: 18px;
            color: #FFFFFF;
            padding: 20px;
            width: 100px;
            text-align: center;
            transition-duration: 0.4s;
            text-decoration: none;
            overflow: hidden;
            cursor: pointer;
        }

            .button:after {
                content: "";
                background: #f1f1f1;
                display: block;
                position: absolute;
                padding-top: 300%;
                padding-left: 350%;
                margin-left: -20px !important;
                margin-top: -120%;
                opacity: 0;
                transition: all 0.8s
            }

            .button:active:after {
                padding: 0;
                margin: 0;
                opacity: 1;
                transition: 0s
            }

        .container {
            position: relative;
            width: 100%;
            max-width: 400px;
        }

            .container img {
                width: 100%;
                height: auto;
            }

            .container .btn {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(185%, -82%);
                -ms-transform: translate(-50%, -50%);
                background-color: #f1f1f1;
                color: black;
                font-size: 16px;
                padding: 10px 20px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                text-align: center;
            }

                .container .btn:hover {
                    background-color: black;
                    color: white;
                }

        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            margin-top: 5px;
            padding: 5px;
            font-size: 13px;
            border-radius: 10px;
        }

        .button2 {
            background-color: white;
            color: black;
            border: 2px solid #008CBA;
        }

            .button2:hover {
                background-color: #008CBA;
                color: white;
            }
    </style>
</head>
<body>

    <!-- ######################## Header ######################## -->
    <header class="header">
        <div class="container-fluid" id="include_header"></div>
    </header>

    <!-- ####################### Menu Top ####################### -->
    <div class="container-fluid" id="include_menu_top"></div>


    <!-- ######################## Content ####################### -->
    <div class="main-container" style="padding-right: 15px; padding-left: 15px;">
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">ตารางนัดหมาย</li>
            </ol>
            <div class="site-award">
                <img src="/images/chula_logo2.png" alt="chula">รพ. จุฬาลงกรณ์
            </div>
        </div>
        <div class="content-wrapper">

            <div class="row gutters">
                <fieldset class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 " style="border: 1px solid #000;padding-bottom: 20px;">
                    <legend style="display: block;width: auto;max-width: 100%;padding: 4px;margin-bottom: .5rem;font-size: 1.5rem;line-height: inherit;color: inherit;white-space: normal;">
                        กรองข้อมูล
                    </legend>
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 align-self-center" style="display: inline-block; padding-bottom: 25px;">
                        <a>คลินิก : </a>
                        <input type="text" placeholder="อายุรกรรมทั่วไป(นอกเวลา)" style="width:60%; height:35px;transform: translate(2%, 14%);">
                        <div class="container">
                            <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6" style="display: inline-block;">
                        <a>วันที่ตรวจรักษา : </a>
                        <div class="container">
                            <button class="btn" type="submit" style="transform: translate(5%, -67%); font-size: 14px;">26/08/2563</button>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-4 col-md-5 col-sm-5 col-5" style="display: inline-block;">
                        <div class="container">
                            <button class="btn" type="submit" style="transform: translate(-50%, -57%);"><i class="fa fa-refresh"></i>Refresh</button>
                        </div>
                    </div>

                </fieldset>

                <fieldset class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12" style="border: 1px solid #000; margin-left:10px; ">
                    <legend style="display: block;width: auto;max-width: 100%;padding: 4px;margin-bottom: .5rem;font-size: 1.5rem;line-height: inherit;color: inherit;white-space: normal;">
                        ส่งตรวจ
                    </legend>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12" style="display: inline-block;">
                        <a>HN : </a>
                        <input type="text" style="width:66%;">
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12" style="display: inline-block;">
                        <button class="button button2" type="button" style="width:100%;">รับเข้าตรวจ</button>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12" style="display: inline-block;">
                        <button class="button button2" type="button" style="width:100%;">รับปรึกษา</button>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12" style="display: inline-block;">
                        <button class="button button2" type="button" style="width:100%;">ผู้ป่วยนัด</button>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12" style="display: inline-block;padding-bottom:15px;">
                        <button class="button button2" type="button" style="width:100%;">สั่งยาล่วงหน้า</button>
                    </div>
                </fieldset>

            </div>

            <div>
                <fieldset class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 " style="border: 1px solid #000; width:97%; padding-bottom: 25px; ">
                    <legend style="display: block;width: auto;max-width: 100%;padding: 4px;margin-bottom: .5rem;font-size: 1.5rem;line-height: inherit;color: inherit;white-space: normal;">
                        รายชื่อผู้ป่วย
                    </legend>
                    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 " style="display: inline-block; padding-bottom: 25px;">
                        <a>แพทย์ : </a>
                        <button class="button button2" type="submit" style="width:40%">ผศ.(พิเศษ) นพ.สุรินทร์ อัศววิทูลห์</button>
                        <button class="button button2" type="submit" style="width:40%">รายได้ของแพทย์</button>
                    </div>
                    <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 col-12" style="display: inline-block;">
                        <a>นับถอยหลัง : </a>
                        <div class="dropdown" style=" position: relative; display: inline-block;">
                            <button class="dropbtn" style="background-color: #008cba; color: white; padding: 10px; font-size: 12px; border: none; cursor: pointer;">10 วินาที</button>
                            <div class="dropdown-content">
                                <a href="#">10 วินาที</a>
                                <a href="#">15 วินาที</a>
                                <a href="#">30 วินาที</a>
                            </div>
                            <button class="button button2" type="submit">หยุด</button>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 col-12" style="display: inline-block;">
                        <a>ค้นหาผู้ป่วย HN : </a>
                        <input type="text" style="width:60%;">
                    </div>
                    <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12" style="display: inline-block;">
                        <a>ชื่อ : </a>
                        <input type="text" style="width:60%;">
                        <button class="button button2" type="submit">ค้นหาผู้ป่วย</button>
                    </div>


                    <div class="custom-tabs-container" style="padding-bottom:25px;">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                            <div class="table-responsive col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin-top:25px">
                                <table id="list_table_json" class="table basicExample m-0 dataTable no-footer" role="grid" aria-describedby="basicExample2_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="basicExample2" rowspan="1" colspan="1" aria-sort="ascending" style="width: 100px;">ลำดับ</th>
                                            <th class="sorting" tabindex="0" aria-controls="basicExample2" rowspan="1" colspan="1" style="width: 263px;">ช่วงเวลาตรวจ</th>
                                            <th class="sorting" tabindex="0" aria-controls="basicExample2" rowspan="1" colspan="1" style="width: 293px;">ประเภทผู้ป่วย</th>
                                            <th class="sorting" tabindex="0" aria-controls="basicExample2" rowspan="1" colspan="1" style="width: 463px;">สถานะผู้ป่วย</th>
                                            <th class="sorting" tabindex="0" aria-controls="basicExample2" rowspan="1" colspan="1" style="width: 200px;">เวลามาถึง</th>
                                            <th class="sorting" tabindex="0" aria-controls="basicExample2" rowspan="1" colspan="1" style="width: 200px;">Visit ID</th>
                                            <th class="sorting" tabindex="0" aria-controls="basicExample2" rowspan="1" colspan="1" style="width: 175px;">เรียกผู้ป่วย</th>
                                            <th class="sorting" tabindex="0" aria-controls="basicExample2" rowspan="1" colspan="1" style="width: 357px;">ชื่อ - นามสกุล</th>
                                            <th class="sorting" tabindex="0" aria-controls="basicExample2" rowspan="1" colspan="1" style="width: 157px;">อายุ</th>
                                            <th class="sorting" tabindex="0" aria-controls="basicExample2" rowspan="1" colspan="1" style="width: 257px;">HN</th>
                                            <th class="sorting" tabindex="0" aria-controls="basicExample2" rowspan="1" colspan="1" style="width: 257px;">V/S</th>
                                            <th class="sorting" tabindex="0" aria-controls="basicExample2" rowspan="1" colspan="1" style="width: 100px;">LAB</th>
                                            <th class="sorting" tabindex="0" aria-controls="basicExample2" rowspan="1" colspan="1" style="width: 257px;">X-Ray</th>
                                            <th class="sorting" tabindex="0" aria-controls="basicExample2" rowspan="1" colspan="1" style="width: 257px;">Op</th>
                                            <th class="sorting" tabindex="0" aria-controls="basicExample2" rowspan="1" colspan="1" style="width: 257px;">รักษาเพื่อ</th>
                                            <th class="sorting" tabindex="0" aria-controls="basicExample2" rowspan="1" colspan="1" style="width: 257px;">หมายเหตุ</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>


                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin-top:25px;display: inline-block;">

                                <div class="col-xl-1 col-lg-12 col-md-12 col-sm-12 col-12" style="display: inline-block;">
                                    <a style="display: inline-block;font-size: 12px;">ผลตรวจ : </a>
                                </div>

                                <div class="col-xl-1 col-lg-6 col-md-6 col-sm-6 col-12" style="display: inline-block;">
                                    <a style="background:#b7b5b5;border: 1px solid #000;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   </a>
                                    <a style="padding-left:5px;font-size: 12px;">ไม่มีการตรวจ</a>
                                </div>

                                <div class="col-xl-1 col-lg-5 col-md-5 col-sm-5 col-12" style="display: inline-block;">
                                    <a style="background:#04e6e6; padding-left:5px;border: 1px solid #000;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   </a>
                                    <a style="padding-left:5px;font-size: 12px;">มีการขอตรวจ</a>
                                </div>

                                <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12" style="display: inline-block;">
                                    <a style="background:#e0e85d; padding-left:5px;border: 1px solid #000;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   </a>
                                    <a style="padding-left:5px;font-size: 12px;">รับสิ่งส่งตรวจแล้ว</a>
                                </div>

                                <div class="col-xl-2 col-lg-5 col-md-5 col-sm-5 col-12" style="display: inline-block;">
                                    <a style="background:#6ede77; padding-left:5px;border: 1px solid #000;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   </a>
                                    <a style="padding-left:5px;font-size: 12px;">ทราบผลบางส่วน</a>
                                </div>

                                <div class="col-xl-1 col-lg-6 col-md-6 col-sm-6 col-12" style="display: inline-block;">
                                    <a style="background:#0b9416; padding-left:5px;border: 1px solid #000;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   </a>
                                    <a style="padding-left:5px;font-size: 12px;">ทราบผลแล้ว</a>
                                </div>

                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="display: inline-block;margin-top:15px;">
                                <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12" style="display: inline-block;">
                                    <a style="padding-left:5px;"><i style="font-size:24px;color:#1815f1;" class="fa">&#xf0f3;</i></a>
                                    <a style="padding-left:5px;">ผู้ป่วยยังไม่เคยถูกเรียก</a>
                                </div>

                                <div class="col-xl-2 col-lg-5 col-md-5 col-sm-5 col-12" style="display: inline-block;">
                                    <a style="padding-left:5px;"><i style="font-size:24px;color:#1bea94;" class="fa">&#xf0f3;</i></a>
                                    <a style="padding-left:5px;">ผู้ป่วยถูกเรียกล่าสุด</a>
                                </div>

                                <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12" style="display: inline-block;">
                                    <a style="padding-left:5px;"><i style="font-size:24px;color:#dca11c;" class="fa">&#xf0f3;</i></a>
                                    <a style="padding-left:5px;">ผู้ป่วยถูกเรียกแล้ว</a>
                                </div>

                            </div>

                        </div>
                    </div>

                </fieldset>


            </div>
        </div>



    </div>

    <!-- ######################### Modal ######################## -->
    <div class="modal fade add-new-appointment" tabindex="-1" role="dialog" aria-labelledby="AddNewAppointment" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group">
                        <img src="/images/img_appointment.png" style="max-width: 70px; max-height: 70px;" alt="">
                        <span style="font-size: 18px; font-weight: 600;">เพิ่มนัดหมายใหม่</span>
                    </div>
                    <div class="form-group">
                        <span style="font-weight: 600;">ชื่อผู้ป่วย</span><br>
                        <input type="text" class="form-control" id="txt_patient_name" placeholder="ชื่อผู้ป่วย">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="rdo_remed_online" name="rdo_remed" class="custom-control-input" style="cursor: pointer;">
                            <label class="custom-control-label" for="rdo_remed_online" style="cursor: pointer;">นัดพบแพทย์ออนไลน์</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="rdo_remed_hospital" name="rdo_remed" class="custom-control-input" style="cursor: pointer;">
                            <label class="custom-control-label" for="rdo_remed_hospital" style="cursor: pointer;">พบแพทย์ที่โรงพยาบาล</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <span style="font-weight: 600;">วันที่ / เวลานัดหมายใหม่</span><br>
                        <div class="row gutters">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <span style="font-weight: 600;">วันที่</span><br>
                                <input type="text" class="form-control picker__input" id="txt_appointment_date" placeholder="เริ่ม" readonly="" aria-haspopup="true" aria-expanded="false" aria-readonly="false" aria-owns="txt_appointment_date_root"><div class="picker" id="txt_appointment_date_root" aria-hidden="true"><div class="picker__holder" tabindex="-1"><div class="picker__frame"><div class="picker__wrap"><div class="picker__box"><div class="picker__header"><div class="picker__month">October</div><div class="picker__year">2020</div><div class="picker__nav--prev" data-nav="-1" role="button" aria-controls="txt_appointment_date_table" title="Previous month"> </div><div class="picker__nav--next" data-nav="1" role="button" aria-controls="txt_appointment_date_table" title="Next month"> </div></div><table class="picker__table" id="txt_appointment_date_table" role="grid" aria-controls="txt_appointment_date" aria-readonly="true"><thead><tr><th class="picker__weekday" scope="col" title="Sunday">Sun</th><th class="picker__weekday" scope="col" title="Monday">Mon</th><th class="picker__weekday" scope="col" title="Tuesday">Tue</th><th class="picker__weekday" scope="col" title="Wednesday">Wed</th><th class="picker__weekday" scope="col" title="Thursday">Thu</th><th class="picker__weekday" scope="col" title="Friday">Fri</th><th class="picker__weekday" scope="col" title="Saturday">Sat</th></tr></thead><tbody><tr><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1601139600000" role="gridcell" aria-label="27/09/2020">27</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1601226000000" role="gridcell" aria-label="28/09/2020">28</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1601312400000" role="gridcell" aria-label="29/09/2020">29</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1601398800000" role="gridcell" aria-label="30/09/2020">30</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1601485200000" role="gridcell" aria-label="01/10/2020">1</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1601571600000" role="gridcell" aria-label="02/10/2020">2</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1601658000000" role="gridcell" aria-label="03/10/2020">3</div></td></tr><tr><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1601744400000" role="gridcell" aria-label="04/10/2020">4</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1601830800000" role="gridcell" aria-label="05/10/2020">5</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1601917200000" role="gridcell" aria-label="06/10/2020">6</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1602003600000" role="gridcell" aria-label="07/10/2020">7</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1602090000000" role="gridcell" aria-label="08/10/2020">8</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1602176400000" role="gridcell" aria-label="09/10/2020">9</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1602262800000" role="gridcell" aria-label="10/10/2020">10</div></td></tr><tr><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1602349200000" role="gridcell" aria-label="11/10/2020">11</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1602435600000" role="gridcell" aria-label="12/10/2020">12</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1602522000000" role="gridcell" aria-label="13/10/2020">13</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1602608400000" role="gridcell" aria-label="14/10/2020">14</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1602694800000" role="gridcell" aria-label="15/10/2020">15</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1602781200000" role="gridcell" aria-label="16/10/2020">16</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1602867600000" role="gridcell" aria-label="17/10/2020">17</div></td></tr><tr><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1602954000000" role="gridcell" aria-label="18/10/2020">18</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1603040400000" role="gridcell" aria-label="19/10/2020">19</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1603126800000" role="gridcell" aria-label="20/10/2020">20</div></td><td role="presentation"><div class="picker__day picker__day--infocus picker__day--today picker__day--highlighted" data-pick="1603213200000" role="gridcell" aria-label="21/10/2020" aria-activedescendant="true">21</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1603299600000" role="gridcell" aria-label="22/10/2020">22</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1603386000000" role="gridcell" aria-label="23/10/2020">23</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1603472400000" role="gridcell" aria-label="24/10/2020">24</div></td></tr><tr><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1603558800000" role="gridcell" aria-label="25/10/2020">25</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1603645200000" role="gridcell" aria-label="26/10/2020">26</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1603731600000" role="gridcell" aria-label="27/10/2020">27</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1603818000000" role="gridcell" aria-label="28/10/2020">28</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1603904400000" role="gridcell" aria-label="29/10/2020">29</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1603990800000" role="gridcell" aria-label="30/10/2020">30</div></td><td role="presentation"><div class="picker__day picker__day--infocus" data-pick="1604077200000" role="gridcell" aria-label="31/10/2020">31</div></td></tr><tr><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1604163600000" role="gridcell" aria-label="01/11/2020">1</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1604250000000" role="gridcell" aria-label="02/11/2020">2</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1604336400000" role="gridcell" aria-label="03/11/2020">3</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1604422800000" role="gridcell" aria-label="04/11/2020">4</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1604509200000" role="gridcell" aria-label="05/11/2020">5</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1604595600000" role="gridcell" aria-label="06/11/2020">6</div></td><td role="presentation"><div class="picker__day picker__day--outfocus" data-pick="1604682000000" role="gridcell" aria-label="07/11/2020">7</div></td></tr></tbody></table><div class="picker__footer"><button class="picker__button--today" type="button" data-pick="1603213200000" disabled="" aria-controls="txt_appointment_date">Today</button><button class="picker__button--clear" type="button" data-clear="1" disabled="" aria-controls="txt_appointment_date">Clear</button><button class="picker__button--close" type="button" data-close="true" disabled="" aria-controls="txt_appointment_date">Close</button></div></div></div></div></div></div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <span style="font-weight: 600;">เวลา</span><br>
                                <input type="time" class="form-control" id="txt_appointment_time" placeholder="00.00">
                            </div>
                        </div>
                    </div>
                    <div style="padding: 10px 10px 10px 10px; background-color: #dee2ee; border-radius: 5px;">
                        <div class="form-group">
                            <span style="font-weight: 600;">Lab / การตรวจอื่นๆ</span>
                            <a data-toggle="collapse" id="btnAddNewLab" data-target="#toggleIconsCollapseOne" style="color: white; cursor: pointer;" aria-expanded="false" aria-controls="toggleIconsCollapseOne" class="btn btn-primary float-right">เพิ่มโปรแกรมตรวจ</a>
                        </div>
                        <div class="form-group">
                            <div class="accordion toggle-icons" id="toggleIcons">
                                <div class="accordion-container">
                                    <div id="toggleIconsCollapseOne" class="collapse" aria-labelledby="toggleIconsOne" data-parent="#toggleIcons">
                                        <div id="selectProgramLab" class="accordion-body text-center">
                                            <h5 style="color: #074b9c;">เพิ่มโปรแกรม LAB / ตรวจอื่นๆ</h5>
                                            <div class="form-group modal-body text-left" style="padding: 0px;">
                                                <span style="font-weight: 600;">Department</span><br>
                                                <div class="border-form">
                                                    <ul class="custom-checkbox">
                                                        <li>
                                                            <input type="checkbox" class="checkbox checkbox-laps" style="cursor: pointer;" id="chk_remed_procedure_collaps_10">
                                                            <label for="chk_remed_procedure_collaps_10" class="getProgramTxtFromLabel" style="cursor: pointer;">LABORATORY</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" class="checkbox checkbox-laps" style="cursor: pointer;" id="chk_remed_procedure_collaps_11">
                                                            <label for="chk_remed_procedure_collaps_11" class="getProgramTxtFromLabel" style="cursor: pointer;">PARASITOLOGY</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" class="checkbox checkbox-laps" style="cursor: pointer;" id="chk_remed_procedure_collaps_12">
                                                            <label for="chk_remed_procedure_collaps_12" class="getProgramTxtFromLabel" style="cursor: pointer;">RADIOLOGY</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" class="checkbox checkbox-laps" style="cursor: pointer;" id="chk_remed_procedure_collaps_13">
                                                            <label for="chk_remed_procedure_collaps_13" class="getProgramTxtFromLabel" style="cursor: pointer;">VIROLOGY</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="form-group modal-body text-left" style="padding: 0px;">
                                                <span style="font-weight: 600;">Program</span><br>
                                                <div class="border-form">
                                                    <ul class=" custom-checkbox">
                                                        <li>
                                                            <input type="checkbox" class="checkbox checkbox-laps" style="cursor: pointer;" id="chk_remed_procedure_collaps_21">
                                                            <label for="chk_remed_procedure_collaps_21" class="getProgramTxtFromLabel" style="cursor: pointer;">โปรแกรมตรวจ Blood sugar (#P00001)</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" class="checkbox checkbox-laps" style="cursor: pointer;" id="chk_remed_procedure_collaps_22">
                                                            <label for="chk_remed_procedure_collaps_22" class="getProgramTxtFromLabel" style="cursor: pointer;">โปรแกรมตรวจ Lapid Profile (#P00002)</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" class="checkbox checkbox-laps" style="cursor: pointer;" id="chk_remed_procedure_collaps_23">
                                                            <label for="chk_remed_procedure_collaps_23" class="getProgramTxtFromLabel" style="cursor: pointer;">โปรแกรมตรวจ Liver Function Test (#P00003)</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" class="checkbox checkbox-laps" style="cursor: pointer;" id="chk_remed_procedure_collaps_24">
                                                            <label for="chk_remed_procedure_collaps_24" class="getProgramTxtFromLabel" style="cursor: pointer;">โปรแกรมตรวจ Renal Function (#P00004)</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="form-group modal-body text-left" style="padding: 0px;">
                                                <span style="font-weight: 600;">โปรแกรมตรวจ Blood sugar</span><br>
                                                <div class="border-form">
                                                    <ul class="custom-checkbox">
                                                        <li>
                                                            <input type="checkbox" class="checkbox checkbox-laps" style="cursor: pointer;" id="chk_remed_procedure_collaps_31">
                                                            <label for="chk_remed_procedure_collaps_31" class="getProgramTxtFromLabel" style="cursor: pointer;">GT031 Fasting Plasma Glucose</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" class="checkbox checkbox-laps" style="cursor: pointer;" id="chk_remed_procedure_collaps_32">
                                                            <label for="chk_remed_procedure_collaps_32" class="getProgramTxtFromLabel" style="cursor: pointer;">GT083 HbA1C</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" class="checkbox checkbox-laps" style="cursor: pointer;" id="chk_remed_procedure_collaps_33">
                                                            <label for="chk_remed_procedure_collaps_33" class="getProgramTxtFromLabel" style="cursor: pointer;">GT084 Fructosamine</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" class="checkbox checkbox-laps" style="cursor: pointer;" id="chk_remed_procedure_collaps_34">
                                                            <label for="chk_remed_procedure_collaps_34" class="getProgramTxtFromLabel" style="cursor: pointer;">CT074 Glucose Challenge Test (50 g)</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" class="checkbox checkbox-laps" style="cursor: pointer;" id="chk_remed_procedure_collaps_35">
                                                            <label for="chk_remed_procedure_collaps_35" class="getProgramTxtFromLabel" style="cursor: pointer;">CT074 Glucose Challenge Test (100 g)</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" class="checkbox checkbox-laps" style="cursor: pointer;" id="chk_remed_procedure_collaps_36">
                                                            <label for="chk_remed_procedure_collaps_36" class="getProgramTxtFromLabel" style="cursor: pointer;">CT085 Tandom Plasma Glucose</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <input type="button" class="text-left btn btn-primary" onclick="addProgram(0);" style="font-weight: bold; border-radius: 20px;" value="เพิ่มโปรแกรมตรวจ">
                                        </div>
                                    </div>
                                    <p style="background-color: #dee2ee;" id="completedProgramLab"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <span style="font-weight: 600;">ข้อปฏิบัติตน</span><br>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" style="cursor: pointer;" id="chk_remed_procedure_1">
                            <label class="custom-control-label" style="cursor: pointer;" for="chk_remed_procedure_1">กรุณานำบัตรโรงพยาบาล และใบส่งตัว (ถ้ามี)</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" style="cursor: pointer;" id="chk_remed_procedure_2">
                            <label class="custom-control-label" style="cursor: pointer;" for="chk_remed_procedure_2">งดน้ำงดอาหาร 10-12 ชั่วโมง</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" style="cursor: pointer;" id="chk_remed_procedure_3">
                            <label class="custom-control-label" style="cursor: pointer;" for="chk_remed_procedure_3">งดน้ำงดอาหาร 6 ชั่วโมง</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" style="cursor: pointer;" id="chk_remed_procedure_4">
                            <label class="custom-control-label" style="cursor: pointer;" for="chk_remed_procedure_4">อื่นๆ</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <span style="font-weight: 600;">หมายเหตุ</span><br>
                        <textarea class="form-control" id="txt_remed_remark" rows="3" placeholder="" style="resize: none;"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-danger" data-dismiss="modal">ยกเลิก</a>
                    <a href="javascript:void(0);" class="btn btn-primary">บันทึก</a>
                </div>
            </div>
        </div>
    </div>

    <!-- ######################## Footer ######################## -->
    <footer class="main-footer" style="margin-right: 15px; margin-left: 15px;" id="include_footer"></footer>

    <!-- ###################### javascript ###################### -->
    <!-- Fullcalendar -->
    <script src="~/js/fullcalendar.min.js"></script>
    <script src="~/js/custom-calendar.js"></script>

    <!-- Datepickers -->
    <script src="~/js/picker.js"></script>
    <script src="~/js/picker.date.js"></script>
    <script src="~/js/custom-picker.js"></script>

    <script language="javascript">
        jQuery(document).ready(function () {
            jQuery("#include_header").load("header.html");
            jQuery("#include_menu_top").load("menu_top.html");
            jQuery("#include_footer").load("footer.html");

            onloadDataPaitentAppointment();

            jQuery("#txt_appointment_date").pickadate({
                format: 'dd/mm/yyyy'
            });
        });
    </script>

    <script type="text/javascript">

        $(document).ready(function () {

            var datasend = new Object();
            datasend.appointment_lab_id = "";

            $.ajax({
                url: "http://10.88.40.162/api/Appointment/onloadDataAppointment",
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                type: 'post',
                cache: false,
                data: JSON.stringify(datasend),
                success: function (data) {

                    var myJSON = JSON.stringify(data);
                    alert(myJSON);

                    if (data.appointment_lab_id == '') {

                        var event_data = '';
                        event_data += '<tr role="row" class="odd">';
                        event_data += '<td colspan=16 style="font-size:16px;">ไม่มีข้อมูล</td >';
                        event_data += '</tr>';

                        $("#list_table_json").append(event_data);
                    }
                    else {
                        var event_data = '';
                        event_data += '<tr role="row" class="odd">';
                        event_data += '<td class="sorting_1">' + data.patient_appointment_id +'</td>';
                        event_data += '<td class="sorting_1">' + data.appointment_start_time +'</td>';
                        event_data += '<td class="sorting_1" style="background:#6ede77">Appoint</td>';
                        event_data += '<td class="sorting_1">' + data.appointment_status_id + '</td>';
                        event_data += '<td class="sorting_1">' + data.appointment_end_time + '</td>';
                        event_data += '<td class="sorting_1">' + data.appointment_status_name + '</td>';
                        event_data += '<td class="sorting_1"><i style="font-size:24px;color:#1815f1" class="fa">&#xf0f3;</i></td>';
                        event_data += '<td class="sorting_1">' + data.firstname_th + " " + data.lastname_th +'</td>';
                        event_data += '<td class="sorting_1">' + data.updated_by_user_id + '</td>';
                        event_data += '<td class="sorting_1">' + data.birth_date + '</td>';
                        event_data += '<td class="sorting_1">' + data.birth_date + '</td>';
                        event_data += '<td class="sorting_1">' + data.birth_date + '</td>';
                        event_data += '<td class="sorting_1">' + data.birth_date + '</td>';
                        event_data += '<td class="sorting_1">' + data.birth_date + '</td>';
                        event_data += '<td class="sorting_1">' + data.birth_date + '</td>';
                        event_data += '<td class="sorting_1">' + data.birth_date + '</td>';
                        event_data += '</tr>';

                        $("#list_table_json").append(event_data);

                        //{
                        //  "appointment_lab_id": "string",
                        //  "patient_appointment_id": "string",
                        //  "appointment_lab_date": "string",
                        //  "status_code": "string",
                        //  "department": "string",
                        //  "program": "string",
                        //  "program_detail": "string",
                        //  "updated_by_user_id": "string",
                        //  "patient_id": "string",
                        //  "name_title_th": "string",
                        //  "name_title_en": "string",
                        //  "firstname_th": "string",
                        //  "lastname_th": "string",
                        //  "firstname_en": "string",
                        //  "lastname_en": "string",
                        //  "hn_no": "string",
                        //  "mobile_number": "string"
                        //}

                        {
                         //"patient_appointment_id": "string",
                         //"patient_id": "string",
                         //"hospital_id": "string",
                         //"doctor_id": "string",
                         //"clinic_id": "string",
                         //"suggestion_id": "string",
                         //"appointment_no": "string",
                         //"appointment_reason_id": "string",
                         //"appointment_reason_desc": "string",
                         //"appointment_date": "string",
                         //"appointment_start_time": "string",
                         //"appointment_end_time": "string",
                         //"appointment_status_id": "string",
                         //"appointment_status_name": "string",
                         //"examination_department_id": "string",
                         //"examination_room_id": "string",
                         //"cancelling_reason": "string",
                         //"appointment_postpone_date": "string",
                         //"appointment_no_ref": "string",
                         //"created_by_department_id": "string",
                         //"created_by_user_id": "string",
                         //"updated_by_user_id": "string",
                         //"name_title_id": "string",
                         //"name_title_th": "string",
                         //"name_title_en": "string",
                         //"firstname_th": "string",
                         //"lastname_th": "string",
                         //"firstname_en": "string",
                         //"lastname_en": "string",
                         //"id_card": "string",
                         //"passport_no": "string",
                         //"gender_id": "string",
                         //"gender_code": "string",
                         //"gender_desc": "string",
                         //"birth_date": "string",
                         //"mobile_number": "string",
                         //"blood_group_id": "string",
                         //"blood_group_th": "string",
                         //"blood_group_en": "string",
                         //"hn_no": "string",
                         //"patient_verify_type_id": "string",
                         //"is_foreign": "string",
                         //"nationality_id": "string",
                         //"nationality_code": "string",
                         //"nationality_name_th": "string",
                         //"nationality_name_en": "string",
                         //"religious_id": "string",
                         //"religious_th": "string",
                         //"religious_en": "string",
                         //"race_id": "string",
                         //"race_code": "string",
                         //"race_name_th": "string",
                         //"race_name_en": "string"
                        }

                    }

                    alert("success");

                },
                error: function (d) {
                /*console.log("error");*/
                    var myJSON = JSON.stringify(d);
                    alert(myJSON);
                    alert("404. Please wait until the File is Loaded.");

                    var event_data = '';
                    event_data += '<tr role="row" class="odd">';
                    event_data += '<td colspan=16 style="font-size:16px;">ไม่มีข้อมูล</td >';
                    event_data += '</tr>';

                    $("#list_table_json").append(event_data);
                }
            });
        });
    </script>



</body>
</html>