﻿@page
@model Doctor.Pages.appointmentModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>คิดถึงหมอ : นัดหมาย</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/main.css">

    <!-- Calendar css -->
    <link rel="stylesheet" href="~/css/fullcalendar.min.css" />
    <link rel="stylesheet" href="~/css/custom-calendar.css" />

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/function.js"></script>

    <!-- Datepicker css -->
    <link rel="stylesheet" href="~/css/classic.css" />
    <link rel="stylesheet" href="~/css/classic.date.css" />

    <style>
        .vertical-timeline {
            width: 100%;
            position: relative;
        }

            .vertical-timeline::before {
                content: '';
                position: absolute;
                top: 0;
                left: 67px;
                height: 100%;
                width: 4px;
                background: #e9ecef;
                border-radius: .25rem
            }

        .vertical-timeline-element {
            position: relative;
            margin: 0 0 1rem
        }

        .vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
            visibility: visible;
            animation: cd-bounce-1 .8s
        }

        .vertical-timeline-element-icon {
            position: absolute;
            top: 0;
            left: 60px
        }

            .vertical-timeline-element-icon .badge-dot-xl {
                box-shadow: 0 0 0 5px #fff
            }

        .badge-dot-xl {
            width: 18px;
            height: 18px;
            position: relative
        }

        .badge:empty {
            display: none
        }

        .badge-dot-xl::before {
            content: '';
            width: 10px;
            height: 10px;
            border-radius: .25rem;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -5px 0 0 -5px;
            background: #fff
        }

        .vertical-timeline-element-content {
            position: relative;
            margin-left: 90px;
            font-size: .8rem
        }

            .vertical-timeline-element-content .timeline-title {
                font-size: .8rem;
                text-transform: uppercase;
                margin: 0 0 .5rem;
                padding: 2px 0 0;
                font-weight: bold
            }

        .vertical-timeline-element-date2 {
            display: block;
            position: absolute;
            left: -67px;
            top: 0;
            padding-right: 10px;
            text-align: right;
            color: #adb5bd;
            font-size: .7619rem;
        }

        .vertical-timeline-element-content .vertical-timeline-element-date {
            display: block;
            position: absolute;
            left: -90px;
            top: 0;
            padding-right: 10px;
            text-align: right;
            color: #adb5bd;
            font-size: .7619rem;
        }

        .avatar-timeline img {
            width: 80px !important;
            height: 80px !important;
            line-height: 80px !important;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
        }

        .avatar-timeline .notify-iocn {
            right: -20px !important;
        }

        .fc-event {
            font-size: 12px;
            cursor: pointer;
            background: #f2f4f8;
            color: #000000 !important;
        }

            .fc-event:hover {
                background: #074b9c;
                color: #ffffff !important;
            }
    </style>
</head>
<body>

    <!-- ######################## Header ######################## -->
    <header class="header">
        <div class="container-fluid" id="include_header"></div>
        @*@Html.Partial("~/Pages/Doctor/header.cshtml")*@
    </header>

    <!-- ####################### Menu Top ####################### -->
    <div class="container-fluid" id="include_menu_top"></div>

    <!-- ######################## Content ####################### -->
    <div class="main-container" style="padding-right: 15px; padding-left: 15px;">
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">นัดหมาย</li>
            </ol>
            <div class="site-award">
                <img src="/images/chula_logo2.png" alt="chula">รพ. จุฬาลงกรณ์
            </div>
        </div>
        <div class="content-wrapper">
            <div class="row gutters">
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div id="AppointmentCalendar" class="fc-calendar"></div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <div class="row gutters">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        สถานะผู้ป่วยของแพทย์
                                    </div>
                                    @*<button type="button" class="btn btn-primary" @onclick="ConvertArray">
                                            Convert Array
                                        </button>*@
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <a href="javascript:void(0);" class="btn btn-success float-right" data-toggle="modal" data-target=".add-new-appointment" id="AddNewAppointment">เพิ่มนัดหมายใหม่</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="padding: 2px;">
                            <div class="overall-events">
                                <a href="javascript:void(0);" class="event-block" style="cursor: default;">
                                    <div class="total-events" style="font-size: 14px; color: #000000;">
                                        <div class="row gutters">
                                            <div class="col-xl-4 col-lg-4 col-md-8 col-sm-8 col-12">
                                                <div class="hospital-tiles primary" style="padding: 1px !important;" data-toggle="tooltip" data-placement="bottom" title="ผู้ป่วยทั้งหมด">
                                                    <img src="/images/staff.svg" alt="Appointments" style="max-width: 28px;" />
                                                    <p>120</p>
                                                </div>
                                            </div>
                                            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12">
                                                <div class="hospital-tiles yellow" style="padding: 1px !important;" data-toggle="tooltip" data-placement="bottom" title="รอตรวจ">
                                                    <img src="/images/patient.svg" alt="Doctors" style="max-width: 28px;" />
                                                    <p>44</p>
                                                </div>
                                            </div>
                                            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12">
                                                <div class="hospital-tiles secondary" style="padding: 1px !important;" data-toggle="tooltip" data-placement="bottom" title="ตรวจแล้ว">
                                                    <img src="/images/doctor.svg" alt="Staff" style="max-width: 28px;" />
                                                    <p>80</p>
                                                </div>
                                            </div>
                                            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12">
                                                <div class="hospital-tiles blue" style="padding: 1px !important;" data-toggle="tooltip" data-placement="bottom" title="เลื่อนนัด">
                                                    <img src="/images/revenue.svg" alt="Patients" style="max-width: 28px;" />
                                                    <p>7</p>
                                                </div>
                                            </div>
                                            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12">
                                                <div class="hospital-tiles red" style="padding: 1px !important;" data-toggle="tooltip" data-placement="bottom" title="ยกเลิก">
                                                    <img src="/images/operation.svg" alt="Operations" style="max-width: 28px;" />
                                                    <p>3</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <div class="row gutters">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        ตารางนัดหมาย
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <a href="appointment_detail" class="btn btn-success float-right">ตรวจสอบตารางนัดหมาย</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ######################### MILO 23/07/63 UPDATE ######################## -->
                        <div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                            <div class="vertical-timeline-item vertical-timeline-element">
                                <div>
                                    <span class="vertical-timeline-element-icon bounce-in">
                                        <i class="badge badge-dot badge-dot-xl badge-light"> </i>
                                    </span>
                                    <div class="vertical-timeline-element-content bounce-in">
                                        <h4 class="timeline-title">
                                            ตรวจแล้ว <span class="text-Primary">5/5 คิว</span>
                                        </h4>
                                        <div id="block-patient1"></div>
                                        <span class="vertical-timeline-element-date2">09:00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ######################### MILO 23/07/63 ######################## -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ######################### Modal ######################## -->
    <div class="modal fade add-new-appointment" tabindex="-1" role="dialog" aria-labelledby="AddNewAppointment" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group">
                        <img src="/images/img_appointment.png" style="max-width: 70px; max-height: 70px;" alt="" />
                        <span style="font-size: 18px; font-weight: 600;">เพิ่มนัดหมายใหม่</span>
                    </div>
                    <div class="form-group">
                        <span style="font-weight: 600;">ชื่อผู้ป่วย</span><br>
                        <input type="text" class="form-control" id="txt_patient_name" placeholder="ชื่อผู้ป่วย">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="rdo_remed_online" name="rdo_remed" class="custom-control-input" style="cursor: pointer;">
                            <label class="custom-control-label" for="rdo_remed_online" style="cursor: pointer;">นัดพบแพทย์ออนไลน์</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="rdo_remed_hospital" name="rdo_remed" class="custom-control-input" style="cursor: pointer;">
                            <label class="custom-control-label" for="rdo_remed_hospital" style="cursor: pointer;">พบแพทย์ที่โรงพยาบาล</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <span style="font-weight: 600;">วันที่ / เวลานัดหมายใหม่</span><br>
                        <div class="row gutters">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <span style="font-weight: 600;">วันที่</span><br>
                                <input type="text" class="form-control" id="txt_appointment_date" placeholder="เริ่ม">
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <span style="font-weight: 600;">เวลา</span><br>
                                <input type="time" class="form-control" id="txt_appointment_time" placeholder="00.00">
                            </div>
                        </div>
                    </div>
                    <div style="padding: 10px 10px 10px 10px; background-color: #dee2ee; border-radius: 5px;">
                        <div class="form-group">
                            <span style="font-weight: 600;">Lab / การตรวจอื่นๆ</span>
                            <a data-toggle="collapse" id="btnAddNewLab" data-target="#toggleIconsCollapseOne" style="color: white; cursor: pointer;" aria-expanded="false" aria-controls="toggleIconsCollapseOne" class="btn btn-primary float-right">เพิ่มโปรแกรมตรวจ</a>
                        </div>
                        <div class="form-group">
                            <div class="accordion toggle-icons" id="toggleIcons">
                                <div class="accordion-container">
                                    <div id="toggleIconsCollapseOne" class="collapse" aria-labelledby="toggleIconsOne" data-parent="#toggleIcons">
                                        <div id="selectProgramLab" class="accordion-body text-center">
                                            <h5 style="color: #074b9c;">เพิ่มโปรแกรม LAB / ตรวจอื่นๆ</h5>
                                            <div class="form-group modal-body text-left" style="padding: 0px;">
                                                <span style="font-weight: 600;">Department</span><br>
                                                <div class="border-form">
                                                    <ul class="custom-checkbox">
                                                        <li>
                                                            <input type="checkbox" class="checkbox checkbox-laps" style="cursor: pointer;" id="chk_remed_procedure_collaps_10">
                                                            <label for="chk_remed_procedure_collaps_10" class="getProgramTxtFromLabel" style="cursor: pointer;">LABORATORY</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" class="checkbox checkbox-laps" style="cursor: pointer;" id="chk_remed_procedure_collaps_11">
                                                            <label for="chk_remed_procedure_collaps_11" class="getProgramTxtFromLabel" style="cursor: pointer;">PARASITOLOGY</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" class="checkbox checkbox-laps" style="cursor: pointer;" id="chk_remed_procedure_collaps_12">
                                                            <label for="chk_remed_procedure_collaps_12" class="getProgramTxtFromLabel" style="cursor: pointer;">RADIOLOGY</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" class="checkbox checkbox-laps" style="cursor: pointer;" id="chk_remed_procedure_collaps_13">
                                                            <label for="chk_remed_procedure_collaps_13" class="getProgramTxtFromLabel" style="cursor: pointer;">VIROLOGY</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="form-group modal-body text-left" style="padding: 0px;">
                                                <span style="font-weight: 600;">Program</span><br>
                                                <div class="border-form">
                                                    <ul class=" custom-checkbox">
                                                        <li>
                                                            <input type="checkbox" class="checkbox checkbox-laps" style="cursor: pointer;" id="chk_remed_procedure_collaps_21">
                                                            <label for="chk_remed_procedure_collaps_21" class="getProgramTxtFromLabel" style="cursor: pointer;">โปรแกรมตรวจ Blood sugar (#P00001)</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" class="checkbox checkbox-laps" style="cursor: pointer;" id="chk_remed_procedure_collaps_22">
                                                            <label for="chk_remed_procedure_collaps_22" class="getProgramTxtFromLabel" style="cursor: pointer;">โปรแกรมตรวจ Lapid Profile (#P00002)</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" class="checkbox checkbox-laps" style="cursor: pointer;" id="chk_remed_procedure_collaps_23">
                                                            <label for="chk_remed_procedure_collaps_23" class="getProgramTxtFromLabel" style="cursor: pointer;">โปรแกรมตรวจ Liver Function Test (#P00003)</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" class="checkbox checkbox-laps" style="cursor: pointer;" id="chk_remed_procedure_collaps_24">
                                                            <label for="chk_remed_procedure_collaps_24" class="getProgramTxtFromLabel" style="cursor: pointer;">โปรแกรมตรวจ Renal Function (#P00004)</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="form-group modal-body text-left" style="padding: 0px;">
                                                <span style="font-weight: 600;">โปรแกรมตรวจ Blood sugar</span><br>
                                                <div class="border-form">
                                                    <ul class="custom-checkbox">
                                                        <li>
                                                            <input type="checkbox" class="checkbox checkbox-laps" style="cursor: pointer;" id="chk_remed_procedure_collaps_31">
                                                            <label for="chk_remed_procedure_collaps_31" class="getProgramTxtFromLabel" style="cursor: pointer;">GT031 Fasting Plasma Glucose</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" class="checkbox checkbox-laps" style="cursor: pointer;" id="chk_remed_procedure_collaps_32">
                                                            <label for="chk_remed_procedure_collaps_32" class="getProgramTxtFromLabel" style="cursor: pointer;">GT083 HbA1C</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" class="checkbox checkbox-laps" style="cursor: pointer;" id="chk_remed_procedure_collaps_33">
                                                            <label for="chk_remed_procedure_collaps_33" class="getProgramTxtFromLabel" style="cursor: pointer;">GT084 Fructosamine</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" class="checkbox checkbox-laps" style="cursor: pointer;" id="chk_remed_procedure_collaps_34">
                                                            <label for="chk_remed_procedure_collaps_34" class="getProgramTxtFromLabel" style="cursor: pointer;">CT074 Glucose Challenge Test (50 g)</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" class="checkbox checkbox-laps" style="cursor: pointer;" id="chk_remed_procedure_collaps_35">
                                                            <label for="chk_remed_procedure_collaps_35" class="getProgramTxtFromLabel" style="cursor: pointer;">CT074 Glucose Challenge Test (100 g)</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" class="checkbox checkbox-laps" style="cursor: pointer;" id="chk_remed_procedure_collaps_36">
                                                            <label for="chk_remed_procedure_collaps_36" class="getProgramTxtFromLabel" style="cursor: pointer;">CT085 Tandom Plasma Glucose</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <input type="button" class="text-left btn btn-primary" onclick="addProgram(0);" style="font-weight: bold; border-radius: 20px;" value="เพิ่มโปรแกรมตรวจ">
                                        </div>
                                    </div>
                                    <p style="background-color: #dee2ee;" id="completedProgramLab"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <span style="font-weight: 600;">ข้อปฏิบัติตน</span><br>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" style="cursor: pointer;" id="chk_remed_procedure_1">
                            <label class="custom-control-label" style="cursor: pointer;" for="chk_remed_procedure_1">กรุณานำบัตรโรงพยาบาล และใบส่งตัว (ถ้ามี)</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" style="cursor: pointer;" id="chk_remed_procedure_2">
                            <label class="custom-control-label" style="cursor: pointer;" for="chk_remed_procedure_2">งดน้ำงดอาหาร 10-12 ชั่วโมง</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" style="cursor: pointer;" id="chk_remed_procedure_3">
                            <label class="custom-control-label" style="cursor: pointer;" for="chk_remed_procedure_3">งดน้ำงดอาหาร 6 ชั่วโมง</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" style="cursor: pointer;" id="chk_remed_procedure_4">
                            <label class="custom-control-label" style="cursor: pointer;" for="chk_remed_procedure_4">อื่นๆ</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <span style="font-weight: 600;">หมายเหตุ</span><br>
                        <textarea class="form-control" id="txt_remed_remark" rows="3" placeholder="" style="resize: none;"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-danger" data-dismiss="modal">ยกเลิก</a>
                    <a href="javascript:void(0);" class="btn btn-primary">บันทึก</a>
                </div>
            </div>
        </div>
    </div>

    <!-- ######################## Footer ######################## -->
    <footer class="main-footer" style="margin-right: 15px; margin-left: 15px;" id="include_footer"></footer>

    <!-- ###################### javascript ###################### -->
    <!-- Fullcalendar -->
    <script src="~/js/fullcalendar.min.js"></script>
    <script src="~/js/custom-calendar.js"></script>

    <!-- Datepickers -->
    <script src="~/js/picker.js"></script>
    <script src="~/js/picker.date.js"></script>
    <script src="~/js/custom-picker.js"></script>

    <script language="javascript">
        jQuery(document).ready(function () {
            jQuery("#include_header").load("~/Pages/Doctor/header.cshtml");
            jQuery("#include_menu_top").load("~/Pages/Doctor/menu_top.cshtml");
            jQuery("#include_footer").load("~/Pages/Doctor/footer.cshtml");

            onloadDataPaitentAppointment();

            jQuery("#txt_appointment_date").pickadate({
                format: 'dd/mm/yyyy'
            });
        });
    </script>


</body>
</html>