﻿@page
@model Doctor.Pages.approve_request_detailsModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>คิดถึงหมอ : อนุมัติคำขอ</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/main.css">

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/function.js"></script>

    <style>
            .pdd-bottom {
                padding-bottom: 5px !important;
            }
            .pdd-bottom-last {
                padding-bottom: 5px !important;
            }
            @*@media screen and (max-width: 990px) {
                .set-width-img {
                    max-width: 30% !important;
                }
                .set-img-center {
                    text-align: center !important;
                }
                .pdd-bottom-last {
                    padding-bottom: 15px !important;
                }
            }
            @media screen and (max-width: 600px) {
                .set-width-img {
                    max-width: 60% !important;
                }
                .set-img-center {
                    text-align: center !important;
                }
                .pdd-bottom-last {
                    padding-bottom: 15px !important;
                }
            }*@
    </style>
</head>
<body>

    <!-- ######################## Header ######################## -->
    <header class="header">
        <div class="container-fluid" id="include_header"></div>
    </header>

    <!-- ####################### Menu Top ####################### -->
    <div class="container-fluid" id="include_menu_top"></div>

    <!-- ######################## Content ####################### -->
    <div class="main-container" style="padding-right: 15px; padding-left: 15px;">
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">อนุมัติคำขอ</li>
            </ol>
            <div class="site-award">
                <img src="/images/chula_logo2.png" alt="Award">รพ. จุฬาลงกรณ์
            </div>
        </div>
        <div class="content-wrapper">
            <div class="form-group">
                <span style="font-size: 18px; font-weight: 600;">ประวัติการรักษา</span>
            </div>
            <div class="form-group">
                <div class="row gutters">
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12 text-center">
                        <img src="/images/patient_1.png" class="set-width-img" style="max-width: 80%;" alt="" />
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <!-- <div class="alert-notify-title" style="font-weight: 600;">นางสาวสุขภาพ แข็งแรง<span style="font-weight: 600; padding-left: 10px;">(AP100000001)</span></div>
                        <div class="alert-notify-text"><b>อายุ : </b>35 ปี 1 เดือน 9 วัน</div>
                        <div class="alert-notify-text"><b>วันที่นัดหมาย : </b>15/06/2563 เวลา 11:00 น.</div>
                        <div class="alert-notify-text"><b>สถานที่ : </b>โรงพยาบาลจุฬาลงกรณ์</div>
                        <div class="alert-notify-text"><b>คลินิค : </b>หู คอ จมูก</div>
                        <div class="alert-notify-text"><b>พบแพทย์ : </b>เก่ง รักษาดี</div>
                        <div class="alert-notify-text pdd-bottom"><b>อาการ : </b>ปวดคอ</div> -->

                        <div class="row gutters pdd-bottom">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                <b>ชื่อ</b>
                            </div>
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                                <span>นางสาวสุขภาพ แข็งแรง<span style="font-weight: 600; padding-left: 10px;">(AP100000001)</span></span>
                            </div>
                        </div>
                        <div class="row gutters pdd-bottom">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                <b>อายุ</b>
                            </div>
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                                <span>35 ปี 1 เดือน 9 วัน</span>
                            </div>
                        </div>
                        <div class="row gutters pdd-bottom">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                <b>วันที่นัดหมาย</b>
                            </div>
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                                <span>15/06/2563 เวลา 11:00 น.</span>
                            </div>
                        </div>
                        <div class="row gutters pdd-bottom">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                <b>สถานที่</b>
                            </div>
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                                <span>โรงพยาบาลจุฬาลงกรณ์ คลินิค : หู คอ จมูก</span>
                            </div>
                        </div>
                        <div class="row gutters pdd-bottom">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                <b>พบแพทย์</b>
                            </div>
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                                <span>เก่ง รักษาดี</span>
                            </div>
                        </div>
                        <div class="row gutters pdd-bottom-last">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                <b>อาการ</b>
                            </div>
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                                <span>ปวดคอ</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <figure class="user-card" style="width: 100%;">
                            <figcaption>
                                <div style="margin-bottom: 25px; padding: 5px; border-radius: 7px;">
                                    <div class="row gutters">
                                        <div class="col-4" style="border: 1px solid #ffffff;">
                                            <span style="font-size: 12px; text-align: center;font-weight: 600;">น้ำหนัก</span><br>
                                            <span style="font-size: 18px; text-align: center; color: #ff0000; font-weight: 800;">60</span><br>
                                            <span style="font-size: 12px; text-align: center;">kg</span>
                                        </div>
                                        <div class="col-4" style="border: 1px solid #ffffff;">
                                            <span style="font-size: 12px; text-align: center;font-weight: 600;">ส่วนสูง</span><br>
                                            <span style="font-size: 18px; text-align: center; color: #ff0000; font-weight: 800;">175</span><br>
                                            <span style="font-size: 12px; text-align: center;">cm</span>
                                        </div>
                                        <div class="col-4" style="border: 1px solid #ffffff;">
                                            <span style="font-size: 12px; text-align: center;font-weight: 600;">ชีพจร</span><br>
                                            <span style="font-size: 18px; text-align: center; color: #ff0000; font-weight: 800;">80</span><br>
                                            <span style="font-size: 12px; text-align: center;">ครั้ง/นาที</span>
                                        </div>
                                    </div>
                                    <div class="clearfix">&nbsp;</div>
                                    <div class="row gutters">
                                        <div class="col-4" style="border: 1px solid #ffffff;">
                                            <span style="font-size: 12px; text-align: center;font-weight: 600;">การหายใจ</span><br>
                                            <span style="font-size: 18px; text-align: center; color: #ff0000; font-weight: 800;">25</span><br>
                                            <span style="font-size: 12px; text-align: center;">ครั้ง/นาที</span>
                                        </div>
                                        <div class="col-4" style="border: 1px solid #ffffff;">
                                            <span style="font-size: 12px; text-align: center;font-weight: 600;">อุณหภูมิ</span><br>
                                            <span style="font-size: 18px; text-align: center; color: #ff0000; font-weight: 800;">36.5</span><br>
                                            <span style="font-size: 12px; text-align: center;">ํC</span>
                                        </div>
                                        <div class="col-4" style="border: 1px solid #ffffff;">
                                            <span style="font-size: 12px; text-align: center;font-weight: 600;">ความดัน</span><br>
                                            <span style="font-size: 18px; text-align: center; color: #ff0000; font-weight: 800;">80/120</span><br>
                                            <span style="font-size: 12px; text-align: center;">mmHg</span>
                                        </div>
                                    </div>
                                </div>

                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <span style="font-weight: 600;">การรักษา</span><br>
                <figure class="user-card" style="width: 100%; text-align: left;">
                    <figcaption>
                        <div class="row gutters">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <label style="font-weight: 600;">อาการ</label><br>
                                <p>ปวด คันที่คอ</p>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <label style="font-weight: 600;">ตรวจร่างกาย</label><br>
                                <p>ตรวจลำคอ</p>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <label style="font-weight: 600;">วินิจฉัยโรค</label><br>
                                <p>เสมหะลงคอ</p>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <label style="font-weight: 600;">รักษา</label><br>
                                <p>จ่ายยาละลายเสมหะ</p>
                            </div>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="form-group">
                <span style="font-weight: 600;">รายการยา</span><br>
                <figure class="user-card" style="width: 100%; text-align: left;">
                    <figcaption>
                        <div class="row gutters">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                <div class="toast dark fade show" aria-live="assertive" aria-atomic="true" data-autohide="false">
                                    <div class="toast-header">
                                        <span class="title">Brexpiprazole 250 mg</span>
                                        <small>30 เม็ด</small>
                                    </div>
                                    <div class="toast-body">
                                        รับประทาน ครั้งละ 1 เม็ด <br>
                                        หลังอาหาร เช้า/กลางวัน/เย็น<br>
                                        วันที่ทาน : 17/06/2020-27/06/2020<br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                <div class="toast dark fade show" aria-live="assertive" aria-atomic="true" data-autohide="false">
                                    <div class="toast-header">
                                        <span class="title">Gabapentin 50 mg</span>
                                        <small>10 เม็ด</small>
                                    </div>
                                    <div class="toast-body">
                                        รับประทาน ครั้งละ 0.5 เม็ด <br>
                                        ก่อนอาหาร เช้า/เย็น<br>
                                        วันที่ทาน : 17/06/2020-27/06/2020<br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12"></div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12"></div>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="form-group">
                <span style="font-weight: 600;">ผลแล็บ</span><br>
                <figure class="user-card" style="width: 100%; text-align: left;">
                    <figcaption>
                        <div class="row gutters">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                <div class="toast dark fade show" aria-live="assertive" aria-atomic="true" data-autohide="false">
                                    <div class="toast-header">
                                        <span class="title">โปรแกรมตรวจ : Blood Sugar</span>
                                    </div>
                                    <div class="toast-body">
                                        <b>เลขที่แล็บ : </b>LN100000001<br>
                                        <b>โดย : </b>Pro Lab<br>
                                        <b>วันที่/เวลา : </b>15/06/2563 11:00 น.<br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                <div class="toast dark fade show" aria-live="assertive" aria-atomic="true" data-autohide="false">
                                    <div class="toast-header">
                                        <span class="title">โปรแกรมตรวจ : ปอดอักเสบ</span>
                                    </div>
                                    <div class="toast-body">
                                        <b>เลขที่แล็บ : </b>LN100000002<br>
                                        <b>โดย : </b>โรงพยาบาลจุฬาลงกรณ์<br>
                                        <b>วันที่/เวลา : </b>15/06/2563 11:00 น.<br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12"></div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12"></div>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="form-group">
                <div class="row gutters">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <a href="javascript:void(0);" class="btn btn-primary float-right" style="margin-left: 5px;" data-toggle="modal" data-target=".details-request-approve-y" id="detailsRequestApprove_y">อนุมัติคำขอ</a>
                        <a href="javascript:void(0);" class="btn btn-danger float-right" data-toggle="modal" data-target=".details-request-approve-n" id="detailsRequestApprove_n">ปฏิเสธคำขอ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ######################### Modal ######################## -->
    <div class="modal fade details-request-approve-y" tabindex="-1" role="dialog" aria-labelledby="detailsRequestApprove_y" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group">
                        <img src="/images/img_appointment.png" style="max-width: 70px; max-height: 70px;" alt="" />
                        <span style="font-size: 18px; font-weight: 600;">ยืนยันการอนุมัติคำขอ</span>
                    </div>
                    <div class="form-group">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="text-align: center;">
                                <div class="alert-notify-title" style="font-weight: 600;">นพ. เก่ง รักษาดี ขอนุมัติ<br>ดูประวัติการรักษาของ นางสาวสุขภาพ แข็งแรง</div>
                                <div class="alert-notify-text">ท่านยืนยัน อนุมัติคำขอนี้หรือไม่</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-danger" data-dismiss="modal">ยกเลิก</a>
                    <a href="javascript:void(0);" class="btn btn-primary">อนุมัติ</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade details-request-approve-n" tabindex="-1" role="dialog" aria-labelledby="detailsRequestApprove_n" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group">
                        <img src="/images/img_appointment.png" style="max-width: 70px; max-height: 70px;" alt="" />
                        <span style="font-size: 18px; font-weight: 600;">ปฏิเสธคำขอ</span>
                    </div>
                    <div class="form-group">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="text-align: center;">
                                <div class="alert-notify-title" style="font-weight: 600;">นพ. เก่ง รักษาดี ขอนุมัติ<br>ดูประวัติการรักษาของ นางสาวสุขภาพ แข็งแรง</div>
                                <div class="alert-notify-text">ท่านยืนยัน ปฏิเสธคำขอนี้หรือไม่</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <span style="font-weight: 600;">โปรดระบุเหตุผล</span><br>
                        <div class="row gutters">
                            <textarea class="form-control" id="txt_notapprove_reason" rows="3" placeholder="" style="resize: none;"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-danger" data-dismiss="modal">ยกเลิก</a>
                    <a href="javascript:void(0);" class="btn btn-primary">อนุมัติ</a>
                </div>
            </div>
        </div>
    </div>

    <!-- ######################## Footer ######################## -->
    <footer class="main-footer" style="margin-right: 15px; margin-left: 15px;" id="include_footer"></footer>

    <!-- ###################### javascript ###################### -->
    <script language="javascript">
            jQuery(document).ready(function () {
                jQuery("#include_header").load("header.html");
                jQuery("#include_menu_top").load("menu_top.html");
                jQuery("#include_footer").load("footer.html");
            });
    </script>

</body>
</html>
