﻿@page
@model Doctor.Pages.headerModel
@{
}

<style>
    ul.header-notifications li a .lang img {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

    .dropdown-menu {
        padding: 0px;
    }
</style>

<div class="row gutters">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
        <a href="index.html" class="logo">คิดถึงหมอ<span></span></a>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
        <ul class="header-actions">
            <li class="dropdown d-none d-sm-block text-right">
                <a href="javascript:void(0);" id="change_language" data-toggle="dropdown" aria-haspopup="true">
                    <img src="/images/flag_th.png" style="width: 25px;" />
                    <span></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="change_language" style="max-width: 40px; width: 40px; min-width: 0px; left: 7px;">
                    <ul class="header-notifications">
                        <li>
                            <a href="javascript:void(0);" class="clearfix" style="padding: 3px;">
                                <div class="lang">
                                    <img src="/images/flag_uk.png" style="width: 100%; filter: grayscale(100%);" />
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="clearfix" style="padding: 3px;">
                                <div class="lang">
                                    <img src="/images/flag_ch.png" style="width: 100%; filter: grayscale(100%);" />
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="dropdown d-none d-sm-block">
                <a href="javascript:void(0);" class="contact">
                    <i class="icon-phone"></i> 02 256 4000
                </a>
            </li>
            <li class="dropdown d-none d-sm-block">
                <a href="javascript:void(0);" id="notifications" data-toggle="dropdown" aria-haspopup="true">
                    <i class="icon-bell"></i>
                    <span class="count-label"></span>
                </a>
                <div class="dropdown-menu lrg" aria-labelledby="notifications">
                    <div class="dropdown-menu-header">
                        <h5>แจ้งเตือน</h5>
                        <p class="m-0 sub-title">คุณมี 3 ข้อความที่ยังไม่ได้อ่าน</p>
                    </div>
                    <ul class="header-notifications">
                        <li>
                            <a href="javascript:void(0);" class="clearfix">
                                <div class="avatar">
                                    <img src="/images/doctor_1.png" alt="" />
                                    <span class="notify-iocn icon-drafts text-danger"></span>
                                </div>
                                <div class="details">
                                    <h6>นพ. สะอาด อนามัย</h6>
                                    <p>นัดหมายใหม่ 20/02/2019</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="clearfix">
                                <div class="avatar">
                                    <img src="/images/doctor_1.png" alt="" />
                                    <span class="notify-iocn icon-layers text-info"></span>
                                </div>
                                <div class="details">
                                    <h6>นญ. น่ารัก อนามัย</h6>
                                    <p>นัดหมายใหม่ 21/02/2019</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="clearfix">
                                <div class="avatar">
                                    <img src="/images/doctor_1.png" alt="" />
                                    <span class="notify-iocn icon-person_add text-success"></span>
                                </div>
                                <div class="details">
                                    <h6>นพ. สบาย อนามัย</h6>
                                    <p>นัดหมายใหม่ 22/02/2019</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0);" id="userSettings" class="user-settings" data-toggle="dropdown" aria-haspopup="true">
                    <span class="user-name" id="DortorName_1"></span>
                    <span class="avatar">Dr.<span class="status busy"></span></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userSettings">
                    <div class="header-profile-actions">
                        <div class="header-user-profile">
                            <div class="header-user">
                                <img src="/images/doctor_1.png" alt="" />
                            </div>
                            <h5 id="DortorName_2"></h5>
                            <p>แพทย์ทั่วไป</p>
                        </div>
                        <a href="javascript:void(0);"><i class="icon-user1"></i> My Profile</a>
                        <a href="javascript:void(0);"><i class="icon-settings1"></i> Account Settings</a>
                        <a href="javascript:void(0);"><i class="icon-activity"></i> Activity Logs</a>
                        <a href="javascript:void(0);" onclick="logout();"><i class="icon-log-out1"></i> Sign Out</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<script language="javascript">
    jQuery(document).ready(function () {
        var getDoctor_id = sessionStorage.getItem("doctor_id");
        var getDoctorName = sessionStorage.getItem("DoctorName");
        if (getDoctor_id != "" && getDoctor_id != null && getDoctor_id != undefined) {
            jQuery("#DortorName_1").html(getDoctorName);
            jQuery("#DortorName_2").html(getDoctorName);
        } else {
            window.location.href = "login";
        }
    });
</script>