﻿@page
@model Doctor.Pages.historyModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>คิดถึงหมอ : ประวัติการรักษา</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/main.css">

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/function.js"></script>

    <!-- Data Tables -->
    <link rel="stylesheet" href="~/css/dataTables.bs4.css" />
    <link rel="stylesheet" href="~/css/dataTables.bs4-custom.css" />
</head>
<body>

    <!-- ######################## Header ######################## -->
    <header class="header">
        <div class="container-fluid" id="include_header"></div>
    </header>

    <!-- ####################### Menu Top ####################### -->
    <div class="container-fluid" id="include_menu_top"></div>

    <!-- ######################## Content ####################### -->
    <div class="main-container" style="padding-right: 15px; padding-left: 15px;">
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">ประวัติการรักษา</li>
            </ol>
            <div class="site-award">
                <img src="/images/chula_logo2.png" alt="Award">รพ. จุฬาลงกรณ์
            </div>
        </div>
        <div class="content-wrapper">
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="table-container">
                        <div class="table-responsive">
                            <table id="basicExample2" class="table basicExample m-0">
                                <thead>
                                    <tr>
                                        <th>หมายเลขนัดหมาย</th>
                                        <th>แพทย์ผู้รักษา</th>
                                        <th>คลินิค</th>
                                        <th>อาการ</th>
                                        <th>วันที่ / เวลา</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>AP100000001</td>
                                        <td>นพ. เก่ง รักษาดี</td>
                                        <td>อายุรกรรม</td>
                                        <td>เบาหวาน</td>
                                        <td>15/06/2563 11:00 น.</td>
                                        <td><a href="javascript:void(0);" data-toggle="modal" data-target=".request-history" id="RequestHistory_1" class="btn btn-danger">ส่งคำขอ</a></td>
                                    </tr>
                                    <tr>
                                        <td>AP100000002</td>
                                        <td>นญ. สะอาด อนามัย</td>
                                        <td>อายุรกรรม</td>
                                        <td>ปอดอักเสบ</td>
                                        <td>15/06/2563 11:00 น.</td>
                                        <td><a href="history_details.html" id="RequestHistory_2" class="btn btn-success">รายละเอียด</a></td>
                                    </tr>
                                    <tr>
                                        <td>AP100000003</td>
                                        <td>นพ. เก่ง รักษาดี</td>
                                        <td>อายุรกรรม ตึก 1 ชั้น 2</td>
                                        <td>ความดัน</td>
                                        <td>15/06/2563 11:00 น.</td>
                                        <td><a href="javascript:void(0);" data-toggle="modal" data-target=".request-history" id="RequestHistory_3" class="btn btn-danger">ส่งคำขอ</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ######################### Modal ######################## -->
    <div class="modal fade request-history" tabindex="-1" role="dialog" aria-labelledby="RequestHistory" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group">
                        <img src="/images/img_appointment.png" style="max-width: 70px; max-height: 70px;" alt="" />
                        <span style="font-size: 18px; font-weight: 600;">แจ้งอนุมัติคำขอดูประวัติการรักษา</span>
                    </div>
                    <div class="form-group">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="text-align: center;">
                                <div class="alert-notify-text" style="font-weight: 600;">ของนายสุขภาพ แข็งแรง</div>
                                <div class="alert-notify-text" style="font-weight: 600;">หมายเลขนัดหมาย : AP100000004</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <span style="font-weight: 600;">โปรดระบุเหตุผล</span><br>
                        <div class="row gutters">
                            <textarea class="form-control" id="txt_approve_reason" rows="3" placeholder="" style="resize: none;"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-danger" data-dismiss="modal">ยกเลิก</a>
                    <a href="javascript:void(0);" class="btn btn-primary">ส่งคำขอ</a>
                </div>
            </div>
        </div>
    </div>

    <!-- ######################## Footer ######################## -->
    <footer class="main-footer" style="margin-right: 15px; margin-left: 15px;" id="include_footer"></footer>

    <!-- ###################### javascript ###################### -->
    <!-- Data Tables -->
    <script src="~/js/dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap.min.js"></script>

    <!-- Custom Data tables -->
    <script src="~/js/custom-datatables.js"></script>
    <script src="~/js/fixedHeader.js"></script>

    <script language="javascript">
            jQuery(document).ready(function () {
                jQuery("#include_header").load("~/Pages/Doctor/header.cshtml");
                //jQuery("#include_menu_top").load("menu_top.html");
                //jQuery("#include_footer").load("footer.html");
            });
    </script>

</body>
</html>
