﻿@page
@model Doctor.Pages.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>คิดถึงหมอ : หน้าหลัก</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/main.css">

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/function.js"></script>

    <style>
        .vertical-timeline {
            width: 100%;
            position: relative;
        }

            .vertical-timeline::before {
                content: '';
                position: absolute;
                top: 0;
                left: 67px;
                height: 100%;
                width: 4px;
                background: #e9ecef;
                border-radius: .25rem
            }

        .vertical-timeline-element {
            position: relative;
            margin: 0 0 1rem
        }

        .vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
            visibility: visible;
            animation: cd-bounce-1 .8s
        }

        .vertical-timeline-element-icon {
            position: absolute;
            top: 0;
            left: 60px
        }

            .vertical-timeline-element-icon .badge-dot-xl {
                box-shadow: 0 0 0 5px #fff
            }

        .badge-dot-xl {
            width: 18px;
            height: 18px;
            position: relative
        }

        .badge:empty {
            display: none
        }

        .badge-dot-xl::before {
            content: '';
            width: 10px;
            height: 10px;
            border-radius: .25rem;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -5px 0 0 -5px;
            background: #fff
        }

        .vertical-timeline-element-content {
            position: relative;
            margin-left: 90px;
            font-size: .8rem
        }

            .vertical-timeline-element-content .timeline-title {
                font-size: .8rem;
                text-transform: uppercase;
                margin: 0 0 .5rem;
                padding: 2px 0 0;
                font-weight: bold
            }

            .vertical-timeline-element-content .vertical-timeline-element-date {
                display: block;
                position: absolute;
                left: -90px;
                top: 0;
                padding-right: 10px;
                text-align: right;
                color: #adb5bd;
                font-size: .7619rem;
            }

        .avatar-timeline img {
            width: 80px !important;
            height: 80px !important;
            line-height: 80px !important;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
        }

        .avatar-timeline .notify-iocn {
            right: -20px !important;
        }
    </style>
</head>
<body>

    <!-- ######################## Header ######################## -->
    <header class="header">
        <div class="container-fluid" id="include_header"></div>
    </header>

    <div id="navigation">
        @*= @RenderPage("~/Pages/Doctor/header.cshtml")*@
        @*@RenderPage("~/Pages/Doctor/header.cshtml")*@
    </div>

    <!-- ####################### Menu Top ####################### -->
    <div class="container-fluid" id="include_menu_top"></div>

    <!-- ######################## Content ####################### -->
    <div class="main-container" style="padding-right: 15px; padding-left: 15px;">
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
            <div class="site-award">
                <img src="/images/chula_logo2.png" alt="Award">รพ. จุฬาลงกรณ์
            </div>
        </div>
        <div class="content-wrapper">
            <!-- ######################## สถานะ ######################## -->
            <div class="row gutters">
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12">
                    <div class="hospital-tiles primary">
                        <img src="/images/staff.svg" alt="Appointments">
                        <p>ทั้งหมด</p>
                        <h2>120</h2>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12">
                    <div class="hospital-tiles yellow">
                        <img src="/images/patient.svg" alt="Doctors">
                        <p>รอตรวจ</p>
                        <h2>44</h2>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12">
                    <div class="hospital-tiles secondary">
                        <img src="/images/doctor.svg" alt="Staff">
                        <p>ตรวจแล้ว</p>
                        <h2>80</h2>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12">
                    <div class="hospital-tiles blue">
                        <img src="/images/revenue.svg" alt="Patients">
                        <p>เลื่อนนัด</p>
                        <h2>7</h2>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12">
                    <div class="hospital-tiles red">
                        <img src="/images/operation.svg" alt="Operations">
                        <p>ยกเลิก</p>
                        <h2>3</h2>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12">
                    <div class="hospital-tiles green">
                        <img src="/images/appointment.svg" alt="Earnings">
                        <p>ดูจากปฏิทิน</p>
                        <h2>16/07</h2>
                    </div>
                </div>
            </div>
            <!-- ######################## สถานะ ######################## -->
            <!-- ######################## ผู้ป่วย ######################## -->

            <div class="row gutters">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="card card-scroll">
                        <div class="card-header">
                            <div class="card-title">ตารางนัดหมายวันนี้</div>
                        </div>
                        <div class="card-body">
                            <!-- ######################## ตารางนัดหมายวันนี้ ######################## -->
                            <div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                                <div class="vertical-timeline-item vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in"> <i class="badge badge-dot badge-dot-xl badge-light"> </i> </span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title">ตรวจแล้ว <span class="text-Primary">5/5 คิว</span></h4>
                                            <p><img class="avatar bor-radius-pic" src="/images/user.png" alt="avatar"><span class="noti"></span> นายสุขภาพ แข็งแรง</p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user4.png" alt="avatar"><span class="noti"></span>นายอุดม สมบูรณ์</p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user9.png" alt="avatar"><span class="noti"></span>นายโชคดี มีชัย</p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user6.png" alt="avatar"><span class="noti"></span>นางรักษา คุ้มครอง </p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user5.png" alt="avatar"><span class="noti"></span>นางสาวปรารถนา นาหมื่น</p>
                                            <span class="vertical-timeline-element-date">09:00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="vertical-timeline-item vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in"> <i class="badge badge-dot badge-dot-xl badge-light"> </i> </span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title">ตรวจแล้ว <span class="text-danger">4/5 คิว</span></h4>
                                            <p><img class="avatar bor-radius-pic" src="/images/user.png" alt="avatar"><span class="noti"></span> นายสุขภาพ แข็งแรง</p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user4.png" alt="avatar"><span class="noti"></span>นายอุดม สมบูรณ์</p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user9.png" alt="avatar"><span class="noti"></span>นายโชคดี มีชัย</p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user6.png" alt="avatar"><span class="noti"></span>นางรักษา คุ้มครอง </p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user5.png" alt="avatar">นางสาวปรารถนา นาหมื่น</p>
                                            <span class="vertical-timeline-element-date">09:30</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="vertical-timeline-item vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in"> <i class="badge badge-dot badge-dot-xl badge-success"> </i> </span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title text-success">กำลังตรวจ <span class="text-success">1/5 คิว</span></h4>
                                            <p><img class="avatar bor-radius-pic" src="/images/user.png" alt="avatar"> นายสุขภาพ แข็งแรง</p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user4.png" alt="avatar"> นายอุดม สมบูรณ์</p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user9.png" alt="avatar">นายโชคดี มีชัย</p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user6.png" alt="avatar">นางรักษา คุ้มครอง </p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user5.png" alt="avatar">นางสาวปรารถนา นาหมื่น</p>
                                            <span class="vertical-timeline-element-date">10:00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="vertical-timeline-item vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in"> <i class="badge badge-dot badge-dot-xl badge-light"> </i> </span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title">รอตรวจ <span class="text-info">0/5 คิว</span></h4>
                                            <p><img class="avatar bor-radius-pic" src="/images/user.png" alt="avatar"> นายสุขภาพ แข็งแรง</p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user4.png" alt="avatar"> นายอุดม สมบูรณ์</p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user9.png" alt="avatar">นายโชคดี มีชัย</p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user6.png" alt="avatar">นางรักษา คุ้มครอง </p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user5.png" alt="avatar">นางสาวปรารถนา นาหมื่น</p>
                                            <span class="vertical-timeline-element-date">10:30</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="vertical-timeline-item vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in"> <i class="badge badge-dot badge-dot-xl badge-light"> </i> </span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title">รอตรวจ <span class="text-info">0/5 คิว</span></h4>
                                            <p><img class="avatar bor-radius-pic" src="/images/user.png" alt="avatar"> นายสุขภาพ แข็งแรง</p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user4.png" alt="avatar"> นายอุดม สมบูรณ์</p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user9.png" alt="avatar">นายโชคดี มีชัย</p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user6.png" alt="avatar">นางรักษา คุ้มครอง </p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user5.png" alt="avatar">นางสาวปรารถนา นาหมื่น</p>
                                            <span class="vertical-timeline-element-date">11:00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="vertical-timeline-item vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in"> <i class="badge badge-dot badge-dot-xl badge-light"> </i> </span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title">รอตรวจ <span class="text-info">0/5 คิว</span></h4>
                                            <p><img class="avatar bor-radius-pic" src="/images/user.png" alt="avatar"> นายสุขภาพ แข็งแรง</p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user4.png" alt="avatar"> นายอุดม สมบูรณ์</p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user9.png" alt="avatar">นายโชคดี มีชัย</p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user6.png" alt="avatar">นางรักษา คุ้มครอง </p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user5.png" alt="avatar">นางสาวปรารถนา นาหมื่น</p>
                                            <span class="vertical-timeline-element-date">11:30</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="vertical-timeline-item vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in"> <i class="badge badge-dot badge-dot-xl badge-light"> </i> </span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title">รอตรวจ <span class="text-info">0/5 คิว</span></h4>
                                            <p><img class="avatar bor-radius-pic" src="/images/user.png" alt="avatar"> นายสุขภาพ แข็งแรง</p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user4.png" alt="avatar"> นายอุดม สมบูรณ์</p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user9.png" alt="avatar">นายโชคดี มีชัย</p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user6.png" alt="avatar">นางรักษา คุ้มครอง </p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user5.png" alt="avatar">นางสาวปรารถนา นาหมื่น</p>
                                            <span class="vertical-timeline-element-date">12:00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="vertical-timeline-item vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in"> <i class="badge badge-dot badge-dot-xl badge-light"> </i> </span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title">รอตรวจ <span class="text-info">0/5 คิว</span></h4>
                                            <p><img class="avatar bor-radius-pic" src="/images/user.png" alt="avatar"> นายสุขภาพ แข็งแรง</p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user4.png" alt="avatar"> นายอุดม สมบูรณ์</p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user9.png" alt="avatar">นายโชคดี มีชัย</p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user6.png" alt="avatar">นางรักษา คุ้มครอง </p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user5.png" alt="avatar">นางสาวปรารถนา นาหมื่น</p>
                                            <span class="vertical-timeline-element-date">12:30</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="vertical-timeline-item vertical-timeline-element">
                                    <div>
                                        <span class="vertical-timeline-element-icon bounce-in"> <i class="badge badge-dot badge-dot-xl badge-light"> </i> </span>
                                        <div class="vertical-timeline-element-content bounce-in">
                                            <h4 class="timeline-title">รอตรวจ <span class="text-info">0/5 คิว</span></h4>
                                            <p><img class="avatar bor-radius-pic" src="/images/user.png" alt="avatar"> นายสุขภาพ แข็งแรง</p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user4.png" alt="avatar"> นายอุดม สมบูรณ์</p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user9.png" alt="avatar">นายโชคดี มีชัย</p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user6.png" alt="avatar">นางรักษา คุ้มครอง </p>
                                            <p><img class="avatar bor-radius-pic" src="/images/user5.png" alt="avatar">นางสาวปรารถนา นาหมื่น</p>
                                            <span class="vertical-timeline-element-date">13:00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ######################## ตารางนัดหมายวันนี้ ######################## -->
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <div class="row gutters">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">

                                <div class="card-header">
                                    <div class="card-title">ข้อความวันนี้</div>
                                </div>
                                <div class="card-body">

                                    <ul class="header-notifications">
                                        <li>
                                            <a href="#" class="clearfix">
                                                <div class="avatar">
                                                    <img src="/images/user.png" alt="avatar">
                                                    <span class="notify-iocn text-danger"><b>8</b></span>
                                                </div>
                                                <div class="details">
                                                    <p class="text-Primary">นายสุขภาพ แข็งแรง</p>
                                                    <p>สวัสดีครับคุณหมอ ขอสอบถามอาการเพิ่มเติม</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="clearfix">
                                                <div class="avatar">
                                                    <img src="/images/user4.png" alt="avatar">
                                                    <span class="notify-iocn text-danger"><b>2</b></span>
                                                </div>
                                                <div class="details">
                                                    <p class="text-Primary">นายอุดม สมบูรณ์</p>
                                                    <p>สวัสดีครับคุณหมอ</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="clearfix">
                                                <div class="avatar">
                                                    <img src="/images/user9.png" alt="avatar">
                                                    <span class="notify-iocn text-danger"><b>1</b></span>
                                                </div>
                                                <div class="details">
                                                    <p class="text-Primary">นายโชคดี มีชัย</p>
                                                    <p>สวัสดีครับคุณหมอ ตรวจผลแล็บตามใบนัดเรียบร้อยแล้ว</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="clearfix">
                                                <div class="avatar">
                                                    <img src="/images/user6.png" alt="avatar">
                                                </div>
                                                <div class="details">
                                                    <p class="text-Primary">นางรักษา สุขภาพ</p>
                                                    <p>สวัสดีค่ะคุณหมอ รู้สึกมีอาการปวดท้อง</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="clearfix">
                                                <div class="avatar">
                                                    <img src="/images/user5.png" alt="avatar">
                                                </div>
                                                <div class="details">
                                                    <p class="text-Primary">นางสาวปรารถนา นาหมื่น</p>
                                                    <p>สวัสดีค่ะคุณหมอ ตอนนี้รู้สึกคลื่นไส้ เวียนศีรษะ</p>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">


                                <div class="card-header">
                                    <div class="card-title">ประวัติการโทรวันนี้</div>
                                </div>
                                <div class="card-body">
                                    <ul class="header-notifications">
                                        <li>
                                            <a href="#" class="clearfix">
                                                <div class="avatar">
                                                    <img src="/images/user.png" alt="avatar">
                                                </div>
                                                <div class="details">
                                                    <p class="text-Primary">นายสุขภาพ แข็งแรง</p>
                                                    <p>จบการสนทนา 00:32:00</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="clearfix">
                                                <div class="avatar">
                                                    <img src="/images/user4.png" alt="avatar">
                                                </div>
                                                <div class="details">
                                                    <p class="text-Primary">นายอุดม สมบูรณ์</p>
                                                    <p>จบการสนทนา 00:18:41</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="clearfix">
                                                <div class="avatar">
                                                    <img src="/images/user9.png" alt="avatar">
                                                </div>
                                                <div class="details">
                                                    <p class="text-Primary">นายโชคดี มีชัย</p>
                                                    <p>จบการสนทนา 00:36:18</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="clearfix">
                                                <div class="avatar">
                                                    <img src="/images/user6.png" alt="avatar">
                                                </div>
                                                <div class="details">
                                                    <p class="text-Primary">นางรักษา สุขภาพ</p>
                                                    <p>จบการสนทนา 01:12:08</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="clearfix">
                                                <div class="avatar">
                                                    <img src="/images/user5.png" alt="avatar">
                                                </div>
                                                <div class="details">
                                                    <p class="text-Primary">นางสาวปรารถนา นาหมื่น</p>
                                                    <p>จบการสนทนา 00:26:43</p>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">สถิติผู้ป่วย</div>
                                </div>
                                <div class="card-body">
                                    <div id="hospital-line-column-graph"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="p-0 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">สถิติการรักษา</div>
                                    </div>
                                    <div class="card-body">
                                        <div id="hospital-line-area-graph"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ######################## Footer ######################## -->
    <footer class="main-footer" style="margin-right: 15px; margin-left: 15px;" id="include_footer"></footer>

    <!-- ###################### javascript ###################### -->
    <!-- Apex Charts -->
    <script src="~/js/apexcharts.min.js"></script>
    <script src="~/js/hospital-line-column-graph.js"></script>
    <script src="~/js/hospital-line-area-graph.js"></script>
    <script src="~/js/hospital-patients-by-age.js"></script>

    <script language="javascript">
        jQuery(document).ready(function () {
            jQuery("#include_header").load("~/Pages/Doctor/header.cshtml");
            jQuery("#include_menu_top").load("~/Pages/Doctor/menu_top.cshtml");
            jQuery("#include_footer").load("~/Pages/Doctor/footer.cshtml");
        });
    </script>

</body>
</html>
