﻿@page
@model Doctor.Pages.lab_drawblood_detailsModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>คิดถึงหมอ : ผลแล็บ</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/main.css">

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/function.js"></script>

    <!-- Data Tables -->
    <link rel="stylesheet" href="~/css/dataTables.bs4.css" />
    <link rel="stylesheet" href="~/css/dataTables.bs4-custom.css" />
</head>
<body>

    <!-- ######################## Header ######################## -->
    <header class="header">
        <div class="container-fluid" id="include_header"></div>
    </header>

    <!-- ####################### Menu Top ####################### -->
    <div class="container-fluid" id="include_menu_top"></div>

    <!-- ######################## Content ####################### -->
    <div class="main-container" style="padding-right: 15px; padding-left: 15px;">
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">เจาะเลือด</li>
            </ol>
            <div class="site-award">
                <img src="/images/chula_logo2.png" alt="Award">รพ. จุฬาลงกรณ์
            </div>
        </div>
        <div class="content-wrapper">
            <div class="row gutters">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="card" id="list_data_1">
                        <div class="card-body">
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <p style="font-weight: 600;">Lab No. :  LN10010081</p>
                                    <p style="font-weight: 600;">โปรแกรมตรวจ :  Blood Sugar</p>
                                    <p style="font-weight: 600; padding-bottom: 20px;">นายรักษา สุขภาพดี</p>
                                    <p>เลขที่รูปแบบการตรวจ :  PRO10000101</p>
                                    <p>เลขที่นัดหมาย :  AP1000081</p>
                                    <p>ผู้รายงานผล :  ProLab</p>
                                    <p>วันที่รับผล :  15/05/2563 11:00 น.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" id="list_data_2" style="display: none;">
                        <div class="card-body">
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <p style="font-weight: 600;">Lab No. :  LN10010082</p>
                                    <p style="font-weight: 600;">โปรแกรมตรวจ :  Blood Sugar</p>
                                    <p style="font-weight: 600; padding-bottom: 20px;">นายรักษา สุขภาพดี</p>
                                    <p>เลขที่รูปแบบการตรวจ :  PRO10000102</p>
                                    <p>เลขที่นัดหมาย :  AP1000082</p>
                                    <p>ผู้รายงานผล :  ProLab</p>
                                    <p>วันที่รับผล :  18/05/2563 11:00 น.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                    <div class="custom-tabs-container" style="height: 100%; margin: 0px;">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="lab_table-tab" data-toggle="tab" href="#lab_table" role="tab" aria-controls="lab_table" aria-selected="true">Table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="lab_graph-tab" data-toggle="tab" href="#lab_graph" role="tab" aria-controls="lab_graph" aria-selected="false">Graph</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent" style="padding-bottom: 50px; width: 100%;">
                            <div class="tab-pane fade show active" id="lab_table" role="tabpanel" aria-labelledby="lab_table-tab">
                                <div class="row gutters" style="padding-bottom: 20px;">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <!--<input type="button" class="btn btn-danger" value="เปรียบเทียบ"/>-->
                                        <a href="javascript:void(0);" class="btn btn-danger" data-toggle="modal" data-target=".data_blood_compare" id="DataBloodCompare">เปรียบเทียบ</a>
                                        <input type="button" onClick="window.location.reload();" class="btn btn-light" value="Clear" />
                                    </div>
                                </div>
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="table-container" id="table_data_1">
                                            <div class="table-responsive">
                                                <table id="basicExample1" class="table basicExample m-0" style="width: 100%;">
                                                    <thead>
                                                        <tr>
                                                            <th>No.</th>
                                                            <th>รายการ</th>
                                                            <th>วันที่รับผล 15/05/2563</th>
                                                            <th>Normal Range</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Hermoglobin (Hb)</td>
                                                            <td>13.1</td>
                                                            <td>(13-18)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>Total WBC</td>
                                                            <td>5.5</td>
                                                            <td>(4-10)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>Platelet Count</td>
                                                            <td>216</td>
                                                            <td>(150-450)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>Red Blood Cell</td>
                                                            <td>4.25</td>
                                                            <td>(4.5-5.9)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>5</td>
                                                            <td>Hematocrit (Hct)</td>
                                                            <td>53</td>
                                                            <td>(40-54)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>6</td>
                                                            <td>MCV</td>
                                                            <td>86.5</td>
                                                            <td>(80-95)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>7</td>
                                                            <td>MCH</td>
                                                            <td>28.4</td>
                                                            <td>(27-32)</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="table-container" id="table_data_2" style="display: none;">
                                            <div class="table-responsive">
                                                <table id="basicExample2" class="table basicExample m-0" style="width: 100%;">
                                                    <thead>
                                                        <tr>
                                                            <th>No.</th>
                                                            <th>รายการ</th>
                                                            <th>วันที่รับผล 15/05/2563</th>
                                                            <th>วันที่รับผล 18/05/2563</th>
                                                            <th>Normal Range</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Hermoglobin (Hb)</td>
                                                            <td>13.1</td>
                                                            <td>13.7</td>
                                                            <td>(13-18)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>Total WBC</td>
                                                            <td>5.5</td>
                                                            <td>4.24</td>
                                                            <td>(4-10)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>Platelet Count</td>
                                                            <td>216</td>
                                                            <td>297</td>
                                                            <td>(150-450)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>Red Blood Cell</td>
                                                            <td>4.25</td>
                                                            <td>4.33</td>
                                                            <td>(4.5-5.9)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>5</td>
                                                            <td>Hematocrit (Hct)</td>
                                                            <td>53</td>
                                                            <td>33</td>
                                                            <td>(40-54)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>6</td>
                                                            <td>MCV</td>
                                                            <td>86.5</td>
                                                            <td>90.9</td>
                                                            <td>(80-95)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>7</td>
                                                            <td>MCH</td>
                                                            <td>28.4</td>
                                                            <td>31.6</td>
                                                            <td>(27-32)</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="lab_graph" role="tabpanel" aria-labelledby="lab_graph-tab">
                                <div class="card">
                                    <div class="card-body">
                                        <div id="hospital-line-column-graph"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ######################### Modal ######################## -->
    <div class="modal fade data_blood_compare" tabindex="-1" role="dialog" aria-labelledby="DataBloodCompare" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row gutters">
                                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" style="cursor: pointer;" id="customCheck1" checked="checked">
                                                <label class="custom-control-label" style="cursor: pointer;" for="customCheck1"></label>
                                            </div>
                                        </div>
                                        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">
                                            <p style="font-weight: 600;">Lab No. :  LN10010081</p>
                                            <p style="font-weight: 600;">โปรแกรมตรวจ :  Blood Sugar</p>
                                            <p style="font-weight: 600; padding-bottom: 20px;">นายรักษา สุขภาพดี</p>
                                            <p>เลขที่รูปแบบการตรวจ :  PRO10000101</p>
                                            <p>เลขที่นัดหมาย :  AP1000081</p>
                                            <p>ผู้รายงานผล :  ProLab</p>
                                            <p>วันที่รับผล :  15/05/2563 11:00 น.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row gutters">
                                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" style="cursor: pointer;" id="customCheck2">
                                                <label class="custom-control-label" style="cursor: pointer;" for="customCheck2"></label>
                                            </div>
                                        </div>
                                        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">
                                            <p style="font-weight: 600;">Lab No. :  LN10010082</p>
                                            <p style="font-weight: 600;">โปรแกรมตรวจ :  Blood Sugar</p>
                                            <p style="font-weight: 600; padding-bottom: 20px;">นายรักษา สุขภาพดี</p>
                                            <p>เลขที่รูปแบบการตรวจ :  PRO10000102</p>
                                            <p>เลขที่นัดหมาย :  AP1000082</p>
                                            <p>ผู้รายงานผล :  ProLab</p>
                                            <p>วันที่รับผล :  18/05/2563 11:00 น.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-danger" data-dismiss="modal">ยกเลิก</a>
                    <a href="javascript:void(0);" class="btn btn-primary" onclick="setDataBloodCompare();">ตกลง</a>
                </div>
            </div>
        </div>
    </div>

    <!-- ######################## Footer ######################## -->
    <footer class="main-footer" style="margin-right: 15px; margin-left: 15px;" id="include_footer"></footer>

    <!-- ###################### javascript ###################### -->
    <!-- Data Tables -->
    <script src="~/js/dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap.min.js"></script>

    <!-- Custom Data tables -->
    <script src="~/js/custom-datatables.js"></script>
    <script src="~/js/fixedHeader.js"></script>

    <!-- Apex Charts -->
    <script src="~/js/apexcharts.min.js"></script>
    <script src="~/js/hospital-line-column-graph.js"></script>
    <script src="~/js/hospital-line-area-graph.js"></script>
    <script src="~/js/hospital-patients-by-age.js"></script>

    <script language="javascript">
            jQuery(document).ready(function () {
                jQuery("#include_header").load("header.html");
                jQuery("#include_menu_top").load("menu_top.html");
                jQuery("#include_footer").load("footer.html");
            });
    </script>

</body>
</html>
