﻿@page
@model Doctor.Pages.lab_ctscan_detailsModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>คิดถึงหมอ : ผลแล็บ</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/main.css">

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/function.js"></script>

    <!-- Gallery css -->
    <link rel="stylesheet" href="~/css/gallery.css">

    <style>
        .img_row3 {
            width: 590px;
            height: 465px;
        }

        .img_row2 {
            width: 900px;
            height: 500px;
        }
    </style>
</head>
<body>

    <!-- ######################## Header ######################## -->
    <header class="header">
        <div class="container-fluid" id="include_header"></div>
    </header>

    <!-- ####################### Menu Top ####################### -->
    <div class="container-fluid" id="include_menu_top"></div>

    <!-- ######################## Content ####################### -->
    <div class="main-container" style="padding-right: 15px; padding-left: 15px;">
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">CT-Scan</li>
            </ol>
            <div class="site-award">
                <img src="~/images/chula_logo2.png" alt="Award">รพ. จุฬาลงกรณ์
            </div>
        </div>
        <div class="content-wrapper">
            <div class="row gutters" style="padding-bottom: 20px;">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <a href="javascript:void(0);" class="btn btn-primary" onclick="setShowImagesCTScan(1);"><span class="icon-check_box_outline_blank" style="font-size: 28px;"></span></a>
                    <a href="javascript:void(0);" class="btn btn-success" onclick="setShowImagesCTScan(4);"><span class="icon-border_all" style="font-size: 28px;"></span></a>
                    <a href="javascript:void(0);" class="btn btn-danger" onclick="setShowImagesCTScan(9);"><span class="icon-apps" style="font-size: 28px;"></span></a>
                </div>
            </div>
            <div id="setshowimages" class="baguetteBoxThree gallery"></div>
        </div>
    </div>

    <!-- ######################## Footer ######################## -->
    <footer class="main-footer" style="margin-right: 15px; margin-left: 15px;" id="include_footer"></footer>

    <!-- ###################### javascript ###################### -->
    <!-- Gallery JS -->
    <script src="~/js/baguetteBox.js" async></script>
    <script src="~/js/plugins.js" async></script>

    <script language="javascript">
            jQuery(document).ready(function () {
                jQuery("#include_header").load("header.html");
                jQuery("#include_menu_top").load("menu_top.html");
                jQuery("#include_footer").load("footer.html");
                setShowImagesCTScan(1);
            });
    </script>

</body>
</html>
