﻿@page
@model Doctor.Pages.lab_drawbloodModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>คิดถึงหมอ : ผลแล็บ</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/main.css">

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/function.js"></script>

    <!-- Data Tables -->
    <link rel="stylesheet" href="~/css/dataTables.bs4.css" />
    <link rel="stylesheet" href="~/css/dataTables.bs4-custom.css" />
</head>
<body>

    <!-- ######################## Header ######################## -->
    <header class="header">
        <div class="container-fluid" id="include_header"></div>
    </header>

    <!-- ####################### Menu Top ####################### -->
    <div class="container-fluid" id="include_menu_top"></div>

    <!-- ######################## Content ####################### -->
    <div class="main-container" style="padding-right: 15px; padding-left: 15px;">
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">เจาะเลือด</li>
            </ol>
            <div class="site-award">
                <img src="/images/chula_logo2.png" alt="Award">รพ. จุฬาลงกรณ์
            </div>
        </div>
        <div class="content-wrapper">
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="table-container">
                        <div class="table-responsive">
                            <table id="basicExample" class="table basicExample m-0">
                                <thead>
                                    <tr>
                                        <th>Lab No.</th>
                                        <th>หมายเลขนัดหมาย</th>
                                        <th>ชื่อ-นามสกุลผู้ป่วย</th>
                                        <th>ผู้รายงานผล</th>
                                        <th>โปรแกรมตรวจ</th>
                                        <th>วันที่ / เวลา นัดหมาย</th>
                                        <th>วันที่ / เวลา รับผล</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>10010081</td>
                                        <td>AP100000001</td>
                                        <td>นายรักษา สุขภาพดี</td>
                                        <td>ProLab</td>
                                        <td>Blood Sugar</td>
                                        <td>15/06/2563 11:00 น.</td>
                                        <td>18/06/2563 11:00 น.</td>
                                        <td><a href="lab_drawblood_details.html" class="btn btn-success">รายละเอียด</a></td>
                                    </tr>
                                    <tr>
                                        <td>10010082</td>
                                        <td>AP100000001</td>
                                        <td>นายรักษา สุขภาพดี</td>
                                        <td>โรงพยาบาลจุฬาลงกรณ์</td>
                                        <td>Blood Sugar</td>
                                        <td>18/06/2563 11:00 น.</td>
                                        <td>20/06/2563 11:00 น.</td>
                                        <td><a href="lab_drawblood_details.html" class="btn btn-success">รายละเอียด</a></td>
                                    </tr>
                                    <tr>
                                        <td>10010083</td>
                                        <td>AP100000002</td>
                                        <td>นายรักษา สุขภาพดี</td>
                                        <td>ProLab</td>
                                        <td>Blood Sugar</td>
                                        <td>23/06/2563 11:00 น.</td>
                                        <td>25/06/2563 11:00 น.</td>
                                        <td><a href="lab_drawblood_details.html" class="btn btn-success">รายละเอียด</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ######################## Footer ######################## -->
    <footer class="main-footer" style="margin-right: 15px; margin-left: 15px;" id="include_footer"></footer>

    <!-- ###################### javascript ###################### -->
    <!-- Data Tables -->
    <script src="~/js/dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap.min.js"></script>

    <!-- Custom Data tables -->
    <script src="~/js/custom-datatables.js"></script>
    <script src="~/js/fixedHeader.js"></script>

    <script language="javascript">
            jQuery(document).ready(function () {
                jQuery("#include_header").load("header.html");
                jQuery("#include_menu_top").load("menu_top.html");
                jQuery("#include_footer").load("footer.html");
            });
    </script>

</body>
</html>
