﻿@page
@model Doctor.Pages.loginModel
@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>คิดถึงหมอ : Login</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/main.css">
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/function.js"></script>
</head>

<body class="authentication">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="login-screen">
                    <div class="login-box text-center">
                        <img style="width: 40%;" src="~/images/Group-30312.png">
                        <div class="form-group">
                            <img style="width: 49%; margin: 20px;" src="~/images/Path46970.png">
                        </div>
                        <form id="form_id" method="post" name="myform">
                            <div class="form-group">
                                <input id="txt_username" type="text" class="form-control de-login" placeholder="USER ID">
                            </div>
                            <div class="form-group">
                                <span id="error_massage_user" style="color: red; display: none;"></span>
                            </div>
                            <div class="form-group">
                                <input id="txt_password" type="password" class="form-control de-login" placeholder="PASSWORD">
                            </div>
                            <div class="form-group">
                                <span id="error_massage_pass" style="color: red; display: none;"></span>
                            </div>
                            <div class="form-group">
                                <span id="error_massage" style="color: red; display: none;"></span>
                            </div>
                            <div class="actions">
                                <!--<a href="forgot-pwd.html" class="col-12 pl-0 text-left">Recover password</a>-->
                                <a href="javascript:void(0);" class="col-12 pl-0 text-left">Recover password</a>
                            </div>
                            <div class="form-group ">
                                <input type="button" class="text-left btn btn-info " onclick="login();" style="font-size: 18px; font-weight: bold;" value="Login">
                            </div>
                        </form>
                        <hr>
                        <div class="m-0">
                            <!--<span class="additional-link"><a href="signup.html" class="btn-solid">SIGN UP</a></span>-->
                            <span class="additional-link"><a href="javascript:void(0);" class="btn-solid">SIGN UP</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script language="javascript">
            jQuery("#txt_username, #txt_password").keyup(function(event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    login();
                }
            });
    </script>
</body>
</html>