﻿@page
@model Doctor.Pages.medical_certificateModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>คิดถึงหมอ : กำลังดำเนินการรักษา</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/main.css">

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/function.js"></script>
    <!-- Gallery css -->
    <link rel="stylesheet" href="~/css/gallery.css">
    <!-- Data Tables -->
    <link rel="stylesheet" href="~/css/dataTables.bs4.css" />
    <link rel="stylesheet" href="~/css/dataTables.bs4-custom.css" />

    <!-- Datepicker css -->
    <link rel="stylesheet" href="~/css/classic.css" />
    <link rel="stylesheet" href="~/css/classic.date.css" />

    <style>
        .modal.left .modal-dialog,
        .modal.right .modal-dialog {
            position: fixed;
            margin: auto;
            height: 100%;
            -webkit-transform: translate3d(0%, 0, 0);
            -ms-transform: translate3d(0%, 0, 0);
            -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
        }

        .modal.left .modal-content,
        .modal.right .modal-content {
            height: 100%;
            overflow-y: auto;
        }

        .modal.left .modal-body,
        .modal.right .modal-body {
            padding: 15px 15px 80px;
        }

        .modal.left.fade .modal-dialog {
            left: -320px;
            -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
            -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
            -o-transition: opacity 0.3s linear, left 0.3s ease-out;
            transition: opacity 0.3s linear, left 0.3s ease-out;
        }

        .modal.left.fade.in .modal-dialog {
            left: 0;
        }

        .modal.right.fade .modal-dialog {
            right: -320px;
            -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
            -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
            -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
        }

        .modal.right.fade.in .modal-dialog {
            right: 0;
        }

        .modal-content {
            border-radius: 0;
            border: none;
        }

        .modal-header {
            border-bottom-color: #EEEEEE;
            background-color: #FAFAFA;
        }

        .img_row3 {
            width: 590px;
            height: 465px;
        }

        .img_row2 {
            width: 900px;
            height: 500px;
        }
    </style>
</head>
<body>

    <!-- ######################## Header ######################## -->
    <header class="header">
        <div class="container-fluid" id="include_header"></div>
    </header>

    <!-- ####################### Menu Top ####################### -->
    <div class="container-fluid" id="include_menu_top"></div>

    <!-- ######################## Content ####################### -->
    <div class="main-container" style="padding-right: 15px; padding-left: 15px;">
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">กำลังดำเนินการรักษา</li>
            </ol>
            <div class="site-award">
                <img src="/images/chula_logo2.png" alt="Award">รพ. จุฬาลงกรณ์
            </div>
        </div>
        <div class="content-wrapper">
            <div class="row gutters">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="account-settings">
                                <div class="user-profile" style="text-align: center;">
                                    <div class="user-avatar">
                                        <img src="/images/patient_1.png" style="width: 180px; height: 180px;">
                                    </div>
                                    <h5 class="user-name">นายสุขภาพ แข็งแรง</h5>
                                    <span style="font-size: 12px;" class="text-danger">สถานะ : กำลังตรวจ</span>
                                    <div class="clearfix">&nbsp;</div>
                                    <div class="clearfix" style="text-align: center;">
                                        <a href="javascript:void(0);">
                                            <img src="/images/chat.png" style="width: 50px;" />
                                        </a>&nbsp;
                                        <a href="javascript:void(0);" data-toggle="modal" data-target=".call-patient" id="CallPatient">
                                            <img src="/images/call.png" style="width: 47px;" />
                                        </a>
                                    </div>
                                </div>

                                <div class="clearfix">

                                    <div class="row gutters">
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="invoice-details">
                                                <p style="font-size: 12px;">รหัสประจำตัว : <b>HN321056</b></p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="invoice-details">
                                                <p style="font-size: 12px;">อายุ 39 ปี 6 เดือน 21 วัน</p><br>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix">&nbsp;</div>
                                    <div class="row gutters">
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="invoice-details">
                                                <p style="font-size: 12px;">เพศ : ชาย</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="invoice-details">
                                                <p style="font-size: 12px;"><span class="text-info">กรุ๊ปเลือด : โอ</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row gutters">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="invoice-details">
                                                <p style="font-size: 12px;">แพ้อาหาร : อาหารทะเล กุ้ง ปลาหมึก หอย</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row gutters">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="invoice-details">
                                                <p style="font-size: 12px;">แพ้ยา : -</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row gutters">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="invoice-details">
                                                <p style="font-size: 12px;">โรคประจำตัว : ภูมิแพ้ หอบหืด</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix">&nbsp;</div>
                                    <div class="row gutters">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="invoice-details">
                                                <p style="font-size: 12px;"><b>หมายเลขนัดหมาย</b> : <span class="badge badge-info">AP10000009</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row gutters">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="invoice-details">
                                                <p style="font-size: 12px;"><b>นัดมาเพื่อ</b> : ติดตามอาการ และเจาะเลือดเพิ่มเติม</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row gutters">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="invoice-details">
                                                <p style="font-size: 12px;"><b>ตรวจเพิ่ม LAB/ตรวจอื่นๆ</b> : โปรแกรมตรววจ Blood Sugar (#P00001) และโปรแกรมตรววจ Renal Fuction (#P00004)</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="clearfix">&nbsp;</div>

                                <div class="input-group mb-3">
                                    <figure class="user-card" style="width: 100%;">
                                        <figcaption>
                                            <div style="margin-bottom: 25px; padding: 5px; border-radius: 7px;">
                                                <div class="row gutters">
                                                    <div class="col-4" style="border: 1px solid #ffffff;">
                                                        <span style="font-size: 12px; text-align: center;font-weight: 600;">น้ำหนัก</span><br>
                                                        <span style="font-size: 18px; text-align: center; color: #ff0000; font-weight: 800;">60</span><br>
                                                        <span style="font-size: 12px; text-align: center;">kg</span>
                                                    </div>
                                                    <div class="col-4" style="border: 1px solid #ffffff;">
                                                        <span style="font-size: 12px; text-align: center;font-weight: 600;">ส่วนสูง</span><br>
                                                        <span style="font-size: 18px; text-align: center; color: #ff0000; font-weight: 800;">175</span><br>
                                                        <span style="font-size: 12px; text-align: center;">cm</span>
                                                    </div>
                                                    <div class="col-4" style="border: 1px solid #ffffff;">
                                                        <span style="font-size: 12px; text-align: center;font-weight: 600;">ชีพจร</span><br>
                                                        <span style="font-size: 18px; text-align: center; color: #ff0000; font-weight: 800;">80</span><br>
                                                        <span style="font-size: 12px; text-align: center;">ครั้ง/นาที</span>
                                                    </div>
                                                </div>
                                                <div class="clearfix">&nbsp;</div>
                                                <div class="row gutters">
                                                    <div class="col-4" style="border: 1px solid #ffffff;">
                                                        <span style="font-size: 12px; text-align: center;font-weight: 600;">การหายใจ</span><br>
                                                        <span style="font-size: 18px; text-align: center; color: #ff0000; font-weight: 800;">25</span><br>
                                                        <span style="font-size: 12px; text-align: center;">ครั้ง/นาที</span>
                                                    </div>
                                                    <div class="col-4" style="border: 1px solid #ffffff;">
                                                        <span style="font-size: 12px; text-align: center;font-weight: 600;">อุณหภูมิ</span><br>
                                                        <span style="font-size: 18px; text-align: center; color: #ff0000; font-weight: 800;">36.5</span><br>
                                                        <span style="font-size: 12px; text-align: center;">ํC</span>
                                                    </div>
                                                    <div class="col-4" style="border: 1px solid #ffffff;">
                                                        <span style="font-size: 12px; text-align: center;font-weight: 600;">ความดัน</span><br>
                                                        <span style="font-size: 18px; text-align: center; color: #ff0000; font-weight: 800;">80/120</span><br>
                                                        <span style="font-size: 12px; text-align: center;">mmHg</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">

                    <div class="row gutters" style="background: #ffffff; border: 0; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; margin-bottom: 1rem; box-shadow: 0 0 25px rgba(26, 107, 225, 0.1);">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="custom-tabs-container">
                                <div class="tab-content" id="myTabContent" style="padding-bottom: 50px;">
                                    <div class="tab-pane fade show active" id="treatment" role="tabpanel" aria-labelledby="treatment-tab">

                                        <div class="clearfix">&nbsp;</div>
                                        <div class="row gutters">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label style="font-weight: 600;float: right;">วันที่ &nbsp;<textarea class="form-control" rows="1" placeholder="22/10/2563" style="resize: none;width: 200px;float: right;" disabled></textarea></label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row gutters">
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" style="cursor: pointer;" id="customCheck3">
                                                        <label class="custom-control-label" style="cursor: pointer;" for="customCheck3">คลินิก/หอผู้ป่วย</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" style="cursor: pointer;" id="customCheck4" checked>
                                                        <label class="custom-control-label" style="cursor: pointer;" for="customCheck4">โรงพยาบาลจุฬาลงกรณ์</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row gutters">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label style="font-weight: 600;">มารับการตรวจที่</label>
                                                    <textarea class="form-control" id="txt_symptom" rows="1" placeholder="สถานที่" style="resize: none;" disabled>โรงพยาบาลจุฬาลงกรณ์</textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row gutters">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label style="font-weight: 600;">อาการ</label>
                                                    <textarea class="form-control" id="txt_symptom" rows="4" placeholder="อาการ" style="resize: none;"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row gutters">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="invoice-details">
                                                    <a href="javascript:void(0);" class="btn btn-light  float-right" style="width: 150px; height: 35px;"><span class="icon-magnifying-glass"></span>ดึงประวัติ</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row gutters">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label style="font-weight: 600;">การวินิจฉัย</label>
                                                    <textarea class="form-control" id="txt_diagnose" rows="4" placeholder="การวินิจฉัย" style="resize: none;"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row gutters">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="invoice-details">
                                                    <a href="javascript:void(0);" class="btn btn-light  float-right" style="width: 150px; height: 35px;"><span class="icon-magnifying-glass"></span>ดึงประวัติ</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row gutters">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label style="font-weight: 600;">การรักษา</label>
                                                    <textarea class="form-control" id="txt_treat" rows="4" placeholder="การรักษา" style="resize: none;"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row gutters">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label style="font-weight: 600;">แพทย์ผู้ตรวจ</label>
                                                    <textarea class="form-control" id="txt_doctor" rows="1" placeholder="แพทย์ผู้ตรวจ" style="resize: none;"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row gutters">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label style="font-weight: 600;">เลขที่ใบประกอบวิชาชีพเวชกรรม</label>
                                                    <textarea class="form-control" id="txt_certificated" rows="1" placeholder="เลขที่ใบประกอบวิชาชีพเวชกรรม" style="resize: none;"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="custom-tabs-container">
                                <div class="tab-content" id="myTabContent" style="padding-bottom: 50px;">
                                    <div class="tab-pane fade show active" id="treatment" role="tabpanel" aria-labelledby="treatment-tab">

                                        <div class="clearfix">&nbsp;</div>
                                        <div class="row gutters">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label style="font-weight: 600;">ความคิดเห็นของแพทย์</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row gutters">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" style="cursor: pointer;" id="customCheck3">
                                                        <label class="custom-control-label" style="cursor: pointer;" for="customCheck5">ใช้เป็นหลักฐานในการเบิกค่ารักษา</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row gutters">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" style="cursor: pointer;" id="customCheck3" checked>
                                                        <label class="custom-control-label" style="cursor: pointer;" for="customCheck6">ผู้ป่วยเข้ารับการตรวจจริงวันที่</label>
                                                        <textarea class="form-control" id="txt_symptom" rows="1" placeholder="20/10/2020" style="resize: none;"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="row gutters">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" style="cursor: pointer;" id="customCheck3" checked>
                                                        <label class="custom-control-label" style="cursor: pointer;" for="customCheck7"></label>
                                                        เห็นสมควรให้หยุดพักรักษา
                                                        <textarea class="form-control" id="txt_symptom" rows="1" placeholder="20/10/2020" style="resize: none;"></textarea>
                                                        ถึงวันที่ <textarea class="form-control" id="txt_symptom" rows="1" placeholder="30/10/2020" style="resize: none;"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>-->
                                        <div class="row gutters">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="form-group">
                                                    <div class="row custom-checkbox " style="padding-left: 2.5rem;">
                                                        <div>
                                                            <input type="checkbox" class="custom-control-input" style="cursor: pointer;" id="customCheckStopPatient" checked>
                                                            <label class="custom-control-label" style="cursor: pointer;" for="customCheckStopPatient">เห็นสมควรให้หยุดพักรักษา&nbsp;</label>
                                                        </div>
                                                        <div>
                                                            <input type="text" class=" form-control text-center" value="1" style="width: 56px;height: 20px;" id="customCheckStopPatient">

                                                        </div>
                                                        <div>
                                                            <label for="customCheckStopPatient">&nbsp;วัน ตั้งแต่วันที่ 	&nbsp;</label>
                                                        </div>
                                                        <div>
                                                            <input type="text" style="width: 100px; height: 20px;" class="form-control" id="txt_edit_appointment_date" value="30/05/2020">
                                                        </div>
                                                        <div>
                                                            <label>	&nbsp;ถึงวันที่&nbsp;</label>
                                                        </div>
                                                        <div>
                                                            <input type="text" style="width: 100px; height: 20px;" class="form-control" id="txt_edit_appointment_date" value="30/05/2020">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row gutters">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" style="cursor: pointer;" id="customCheck3">
                                                        <label class="custom-control-label" style="cursor: pointer;" for="customCheck8">อื่นๆ</label>
                                                        <textarea class="form-control" rows="4" placeholder="อื่นๆ" style="resize: none;"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row gutters">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label style="font-weight: 600;">หมายเหตุ</label>
                                                    <textarea class="form-control" id="txt_symptom" rows="4" placeholder="หมายเหตุ" style="resize: none;"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row gutters">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="invoice-details" id="setshowimages">
                                                    <a href="javascript:void(0);" class="btn btn-success float-right">พิมพ์ใบรับรองแพทย์</a>
                                                    <a href="javascript:void(0);" class="btn btn-primary float-right" style="margin-right: 15px;" data-toggle="modal" data-target=".save-data-patient" id="saveDataPatient">ดึงข้อมูลใบรับรองแพทย์</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- ######################## Footer ######################## -->
    <footer class="main-footer" style="margin-right: 15px; margin-left: 15px;" id="include_footer"></footer>

    <!-- ###################### javascript ###################### -->
    <!-- Data Tables -->
    <script src="~/js/dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap.min.js"></script>

    <!-- Custom Data tables -->
    <script src="~/js/custom-datatables.js"></script>
    <script src="~/js/fixedHeader.js"></script>

    <!-- Datepickers -->
    <script src="~/js/picker.js"></script>
    <script src="~/js/picker.date.js"></script>
    <script src="~/js/custom-picker.js"></script>

    <!-- Gallery JS -->
    <script src="~/js/baguetteBox.js" async></script>
    <script src="~/js/plugins.js" async></script>

    <script language="javascript">
        jQuery(document).ready(function () {
            jQuery("#include_header").load("header.html");
            jQuery("#include_menu_top").load("menu_top.html");
            jQuery("#include_footer").load("footer.html");
        });

        jQuery(document).on("click", "#saveDataPatient", function () {
            jQuery(".save-data-patient").addClass("in");
        });

        jQuery(".numericOnly").keypress(function (e) {
            if (String.fromCharCode(e.keyCode).match(/[^0-9]/g)) return false;
        });
    </script>

</body>
</html>
