﻿@page
@model Doctor.Pages.menu_topModel
@{
}
<nav class="navbar navbar-expand-lg custom-navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#royalHospitalsNavbar" aria-controls="royalHospitalsNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </button>
    <div class="collapse navbar-collapse" id="royalHospitalsNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" id="main_index" href="index.html">
                    <i class="icon-devices_other nav-icon"></i>
                    หน้าหลัก
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="appointment.html" id="menu_appointment" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-users nav-icon"></i>
                    นัดหมาย
                </a>
            </li>
            <li class="nav-item BindPhama">
                <a class="nav-link" href="history.html" id="menu_history" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-edit1 nav-icon"></i>
                    ประวัติการรักษา
                </a>
            </li>
            <li class="nav-item dropdown BindPhama BindNurse">
                <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="menu_lab" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-book-open nav-icon"></i>
                    ผลแล็บ
                </a>
                <ul class="dropdown-menu" aria-labelledby="menu_lab">
                    <li>
                        <a class="dropdown-item" href="lab_drawblood.html">เจาะเลือด</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="lab_xray.html">X-Ray</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="lab_ctscan.html">CT-Scan</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="lab_mri.html">MRI</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item BindPhama BindNurse">
                <a class="nav-link" href="approve_request.html" id="menu_approve_request" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-image nav-icon"></i>
                    อนุมัติคำขอ
                </a>
            </li>
            <li class="nav-item BindPhama BindNurse">
                <a class="nav-link" href="reports.html" id="menu_reports" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-border_all nav-icon"></i>
                    รายงาน
                </a>
            </li>
            <!--<li class="nav-item dropdown" style="display: none;">
                <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="graphsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-pie-chart1 nav-icon"></i>
                    Graphs
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="graphsDropdown">
                    <li class="open-left">
                        <a class="dropdown-toggle sub-nav-link" href="javascript:void(0);" id="apexDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Apex Graphs
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="apexDropdown">
                            <li>
                                <a class="dropdown-item" href="javascript:void(0);">Area Charts</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="javascript:void(0);">Bar Charts</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-item" href="javascript:void(0);">Login</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="settings" id="menu_settings" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-alert-triangle nav-icon"></i>
                    ตั้งค่า
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="menu_settings">
                    <li>
                        <a class="dropdown-item" href="settings.html">Login</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="settings.html">Signup</a>
                    </li>
                </ul>
            </li>-->
            <li class="nav-item BindPhama BindNurse">
                <a class="nav-link" href="settings.html" id="menu_settings" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-image nav-icon"></i>
                    ตั้งค่า
                </a>
            </li>
        </ul>
    </div>
</nav>

<script language="javascript">
    jQuery(document).ready(function () {
        // UPDATE PERMISSION BY ID 2020-08-19  START =================================================================================
        var getDoctor_id = sessionStorage.getItem("doctor_id");
        // UPDATE PERMISSION BY ID 2020-08-19  END ===================================================================================
        var pathname = window.location.pathname;
        jQuery(".active-page").each(function(index) {
            jQuery(this).removeClass("active-page");
        });
        if ((pathname.indexOf("/appointment.html") > -1) || (pathname.indexOf("/operation.html") > -1) || (pathname.indexOf("/medical_certificate.html") > -1)) {
            jQuery("#menu_appointment").addClass("active-page");
        } else if ((pathname.indexOf("/lab_drawblood.html") > -1) || (pathname.indexOf("/lab_xray.html") > -1) || (pathname.indexOf("/lab_ctscan.html") > -1) || (pathname.indexOf("/lab_mri.html") > -1)) {
            jQuery("#menu_lab").addClass("active-page");
        } else if ((pathname.indexOf("/lab_drawblood_details.html") > -1) || (pathname.indexOf("/lab_xray_details.html") > -1) || (pathname.indexOf("/lab_ctscan_details.html") > -1) || (pathname.indexOf("/lab_mri_details.html") > -1)) {
            jQuery("#menu_lab").addClass("active-page");
        } else if ((pathname.indexOf("/history.html") > -1) || (pathname.indexOf("/history_details.html") > -1)) {
            jQuery("#menu_history").addClass("active-page");
        } else if ((pathname.indexOf("/approve_request.html") > -1) || (pathname.indexOf("/approve_request_details.html") > -1)) {
            jQuery("#menu_approve_request").addClass("active-page");
        } else if (pathname.indexOf("/reports.html") > -1) {
            jQuery("#menu_reports").addClass("active-page");
        } else if (pathname.indexOf("/settings.html") > -1) {
            jQuery("#menu_settings").addClass("active-page");
        } else {
            jQuery("#main_index").addClass("active-page");
        }
        // UPDATE PERMISSION BY ID 2020-08-19  START =================================================================================
        Permission(getDoctor_id);
        // UPDATE PERMISSION BY ID 2020-08-19  END ===================================================================================
    });
</script>