﻿@page
@model Doctor.Pages.reportsModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>คิดถึงหมอ : รายงาน</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/main.css">

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/function.js"></script>

    <!-- Data Tables -->
    <link rel="stylesheet" href="~/css/dataTables.bs4.css" />
    <link rel="stylesheet" href="~/css/dataTables.bs4-custom.css" />
</head>
<body>

    <!-- ######################## Header ######################## -->
    <header class="header">
        <div class="container-fluid" id="include_header"></div>
    </header>

    <!-- ####################### Menu Top ####################### -->
    <div class="container-fluid" id="include_menu_top"></div>

    <!-- ######################## Content ####################### -->
    <div class="main-container" style="padding-right: 15px; padding-left: 15px;">
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">รายงาน</li>
            </ol>
            <div class="site-award">
                <img src="/images/chula_logo2.png" alt="Award">รพ. จุฬาลงกรณ์
            </div>
        </div>
        <div class="content-wrapper">
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <sapn style="text-align: left !important; font-weight: 600;">วันที่นัดหมาย : 30 มิถุนายน 2563</sapn>
                    <div style="margin-bottom: 25px; border: 1px solid #000000; padding: 5px; border-radius: 7px; background-color: #ffffff; text-align: center;">
                        <div class="row gutters" style="padding-bottom: 15px;">
                            <div class="col-4" style="border: 1px solid #ffffff;">
                                <span style="font-size: 12px; text-align: center;">ผู้ป่วยทั้งหมด</span><br>
                                <span style="font-size: 20px; text-align: center; color: #ff0000; font-weight: 600;">12</span>
                            </div>
                            <div class="col-2" style="border: 1px solid #ffffff;">
                                <span style="font-size: 12px; text-align: center;">รอตรวจ</span><br>
                                <span style="font-size: 20px; text-align: center; color: #ff0000; font-weight: 600;">8</span>
                            </div>
                            <div class="col-2" style="border: 1px solid #ffffff;">
                                <span style="font-size: 12px; text-align: center;">ตรวจแล้ว</span><br>
                                <span style="font-size: 20px; text-align: center; color: #ff0000; font-weight: 600;">2</span>
                            </div>
                            <div class="col-2" style="border: 1px solid #ffffff;">
                                <span style="font-size: 12px; text-align: center;">เลื่อนนัด</span><br>
                                <span style="font-size: 20px; text-align: center; color: #ff0000; font-weight: 600;">1</span>
                            </div>
                            <div class="col-2" style="border: 1px solid #ffffff;">
                                <span style="font-size: 12px; text-align: center;">ยกเลิก</span><br>
                                <span style="font-size: 20px; text-align: center; color: #ff0000; font-weight: 600;">1</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="table-container">
                        <div class="table-responsive">
                            <table id="basicExample" class="table basicExample m-0">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>เวลา</th>
                                        <th>รายชื่อคนไข้</th>
                                        <th>คลินิค</th>
                                        <th>อาการ</th>
                                        <th>สถานะ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td rowspan="3">09.00</td>
                                        <td>นางสาวสุขภาพ แข็งแรง</td>
                                        <td>อายุรกรรม</td>
                                        <td>ปวดท้อง</td>
                                        <td>ตรวจแล้ว</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>นายชนะ ใจดี</td>
                                        <td>อายุรกรรม</td>
                                        <td>ไข้หวัด</td>
                                        <td>เลื่อนนัด</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>นางสาวมานี มีใจ</td>
                                        <td>อายุรกรรม</td>
                                        <td>ท้องเสีย</td>
                                        <td>ยกเลิก</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td rowspan="3">09.30</td>
                                        <td>นางสาวสุขภาพ แข็งแรง</td>
                                        <td>หู คอ จมูก</td>
                                        <td>ปวดท้อง</td>
                                        <td>ตรวจแล้ว</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>นายชนะ ใจดี</td>
                                        <td>หู คอ จมูก</td>
                                        <td>ไข้หวัด</td>
                                        <td>ตรวจแล้ว</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>นางสาวมานี มีใจ</td>
                                        <td>หู คอ จมูก</td>
                                        <td>ท้องเสีย</td>
                                        <td>ตรวจแล้ว</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td rowspan="3">10.00</td>
                                        <td>นางสาวสุขภาพ แข็งแรง</td>
                                        <td>อายุรกรรม</td>
                                        <td>ปวดท้อง</td>
                                        <td>ตรวจแล้ว</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>นายชนะ ใจดี</td>
                                        <td>อายุรกรรม</td>
                                        <td>ไข้หวัด</td>
                                        <td>เลื่อนนัด</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>นางสาวมานี มีใจ</td>
                                        <td>อายุรกรรม</td>
                                        <td>ท้องเสีย</td>
                                        <td>ยกเลิก</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ######################## Footer ######################## -->
    <footer class="main-footer" style="margin-right: 15px; margin-left: 15px;" id="include_footer"></footer>

    <!-- ###################### javascript ###################### -->
    <!-- Data Tables -->
    <script src="~/js/dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap.min.js"></script>

    <!-- Custom Data tables -->
    <script src="~/js/custom-datatables.js"></script>
    <script src="~/js/fixedHeader.js"></script>

    <script language="javascript">
            jQuery(document).ready(function () {
                jQuery("#include_header").load("header.html");
                jQuery("#include_menu_top").load("menu_top.html");
                jQuery("#include_footer").load("footer.html");
            });
    </script>

</body>
</html>
