﻿@page
@model Doctor.Pages.settingModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>คิดถึงหมอ : ตั้งค่า</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/main.css">

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/function.js"></script>

    <!-- Data Tables -->
    <link rel="stylesheet" href="~/css/dataTables.bs4.css" />
    <link rel="stylesheet" href="~/css/dataTables.bs4-custom.css" />

    <!-- Datepicker css -->
    <link rel="stylesheet" href="~/css/classic.css" />
    <link rel="stylesheet" href="~/css/classic.date.css" />

    <!-- Calendar css -->
    <link rel="stylesheet" href="~/css/fullcalendar.min.css" />
    <link rel="stylesheet" href="~/css/custom-calendar.css" />

    <style>
        .fc-event {
            font-size: 12px;
            cursor: pointer;
            background: #f2f4f8;
            color: #000000 !important;
        }

            .fc-event:hover {
                /* background: #074b9c; */
                background: #42b560;
                color: #ffffff !important;
            }
    </style>
</head>
<body>

    <!-- ######################## Header ######################## -->
    <header class="header">
        <div class="container-fluid" id="include_header"></div>
    </header>

    <!-- ####################### Menu Top ####################### -->
    <div class="container-fluid" id="include_menu_top"></div>

    <!-- ######################## Content ####################### -->
    <div class="main-container" style="padding-right: 15px; padding-left: 15px;">
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">ตั้งค่า</li>
            </ol>
            <div class="site-award">
                <img src="/images/chula_logo2.png" alt="Award">รพ. จุฬาลงกรณ์
            </div>
        </div>
        <div class="content-wrapper">
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="custom-tabs-container" style="height: 100%;">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="doctorinfo-tab" data-toggle="tab" href="#doctorinfo" role="tab" aria-controls="doctorinfo" aria-selected="true">ข้อมูลแพทย์</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="dailyplan-tab" data-toggle="tab" href="#dailyplan" onclick="hidClickCalendar();" role="tab" aria-controls="dailyplan" aria-selected="false">ตารางเวร</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="language-tab" data-toggle="tab" href="#language" role="tab" aria-controls="language" aria-selected="false">เปลี่ยนภาษา</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent" style="padding-bottom: 50px;">
                            <div class="tab-pane fade show active" id="doctorinfo" role="tabpanel" aria-labelledby="doctorinfo-tab">
                                <div class="form-group">
                                    <div class="row gutters">
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 text-center">
                                            <img src="/images/doctor_1.png" alt="" style="max-width: 400px;" />
                                        </div>
                                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                                            <div class="row gutters" style="padding-bottom: 70px;">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <h3>นายแพทย์ เก่ง รักษาดี</h3>
                                                    <p style="font-weight: 600;">แพทย์ด้านโรคทั่วไป คลินิค อายุรกรรม</p>
                                                    <ul style="list-style-type: disc; padding-left: 20px;">
                                                        <li>การดูแลสุขภาพ / ป้องกันโรค, ตรวจสุขภาพประจำปี, ผลเลือดปกติ, ผลเอ็กซเรย์ปอดผิดปกติ, ผลการตรวจอื่นๆ โรคทั่วไป, อายุรกรรม</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row gutters" style="padding-bottom: 25px;">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <h5>ความเชี่ยวชาญเฉพาะทาง</h5>
                                                    <p>
                                                        เวชศาสตร์ครอบครัว : ดูแลผู้สูงอายุ, โรคเรื้อรัง, มะเร็ง, ผู้ป่วยติดเตียง, ตรวจสุขภาพ, ผลเลือดปกติ, ความดันโลหิต,
                                                        ไขมันในเลือดสูง, โรคทั่วไป, วัคซีนในเด็กและผู้ใหญ่, เบาหวาน
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row gutters" style="padding-bottom: 25px;">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <h5>วุฒิบัตร</h5>
                                                    <p>
                                                        <ul style="list-style-type: disc; padding-left: 20px;">
                                                            <li>แพทย์ศาสตร์บัณฑิต มหาวิทยาลัยเชียงใหม่</li>
                                                            <li>วว.เวชศาสตร์ครอบครัว คณะแพทย์ศาสตร์โรงพยาบาลรามาธิบดี มหาวิทยาลัยมหิดล</li>
                                                        </ul>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row gutters" style="padding-bottom: 25px;">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <h5>ประวัติการทำงาน</h5>
                                                    <p>
                                                        <ul style="list-style-type: disc; padding-left: 20px;">
                                                            <li>2559 - ปัจจุบัน โรงพยาบาลจุฬาลงกรณ์</li>
                                                            <li>2556 - 2558 โรงพยาบาลน่าน</li>
                                                        </ul>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="dailyplan" role="tabpanel" aria-labelledby="dailyplan-tab">
                                <div class="form-group">
                                    <div class="row gutters" style="padding-bottom: 20px;">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <!--<input type="button" class="btn btn-danger" value="กำหนดรายวัน" />
                                            <input type="button" class="btn btn-primary" value="กำหนดตามวัน" />-->
                                            <a href="javascript:void(0);" class="btn btn-danger" data-toggle="modal" data-target=".add-dailyplan-day" id="AddDailyPlanDay">กำหนดรายวัน</a>
                                            <a href="javascript:void(0);" class="btn btn-primary" data-toggle="modal" data-target=".add-dailyplan-allday" id="AddDailyPlanAllDay">กำหนดตามวัน</a>
                                        </div>
                                    </div>
                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div id="DoctorDailyPlanCalendar" class="fc-calendar"></div>
                                            <!-- <div class="table-container" id="table_data_1">
                                                <div class="table-responsive">
                                                    <table id="basicExample1" class="table basicExample m-0" style="width: 100%;">
                                                        <thead >
                                                            <tr>
                                                                <th>No.</th>
                                                                <th>คลินิค</th>
                                                                <th>วันที่เข้าเวร</th>
                                                                <th>เวลาเริ่มเข้าเวร</th>
                                                                <th>เวลาสิ้นสุดเข้าเวร</th>
                                                                <th>จำนวนคนทั้งหมด</th>
                                                                <th>จำนวนคนสำรอง</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>โรคกระดูก และข้อ</td>
                                                                <td>18/05/2563</td>
                                                                <td>08.00</td>
                                                                <td>12.00</td>
                                                                <td>10</td>
                                                                <td>2</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td>เบาหวาน</td>
                                                                <td>18/05/2563</td>
                                                                <td>12.00</td>
                                                                <td>17.00</td>
                                                                <td>10</td>
                                                                <td>2</td>
                                                            </tr>
                                                            <tr>
                                                                <td>3</td>
                                                                <td>โรคกระดูก และข้อ</td>
                                                                <td>23/05/2563</td>
                                                                <td>08.00</td>
                                                                <td>12.00</td>
                                                                <td>10</td>
                                                                <td>2</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="language" role="tabpanel" aria-labelledby="language-tab">
                                <div class="form-group">
                                    <div class="custom-control custom-radio custom-control" style="padding-bottom: 25px;">
                                        <input type="radio" id="rdo_change_language_thai" name="rdo_change_language" class="custom-control-input" style="cursor: pointer;" checked="checked">
                                        <label class="custom-control-label" for="rdo_change_language_thai" style="cursor: pointer;"><img src="/images/flag_th.png" style="max-width: 50px;" /> ภาษาไทย</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control" style="padding-bottom: 25px;">
                                        <input type="radio" id="rdo_change_language_english" name="rdo_change_language" class="custom-control-input" style="cursor: pointer;">
                                        <label class="custom-control-label" for="rdo_change_language_english" style="cursor: pointer;"><img src="/images/flag_uk.png" style="max-width: 50px;" /> ภาษาอังกฤษ</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control" style="padding-bottom: 25px;">
                                        <input type="radio" id="rdo_change_language_chinese" name="rdo_change_language" class="custom-control-input" style="cursor: pointer;">
                                        <label class="custom-control-label" for="rdo_change_language_chinese" style="cursor: pointer;"><img src="/images/flag_ch.png" style="max-width: 50px;" /> ภาษาจีน</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<a href="javascript:void(0);" class="btn btn-primary float-right" style="min-width: 150px; height: 35px;" data-toggle="modal" data-target=".save-data-setting" id="saveDataSetting">บันทึก</a>-->
                </div>
            </div>
        </div>
    </div>

    <!-- ######################### Modal ######################## -->
    <div class="modal fade add-dailyplan-day" tabindex="-1" role="dialog" aria-labelledby="AddDailyPlanDay" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group">
                        <img src="/images/img_appointment.png" style="max-width: 70px; max-height: 70px;" alt="" />
                        <span style="font-size: 18px; font-weight: 600;">กำหนดรายวัน</span>
                    </div>
                    <div class="form-group">
                        <div class="row gutters">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <span style="font-weight: 600;">วันนัดที่ต้องการ</span><br>
                                <input type="text" class="form-control datepicker" id="txt_daily_date" placeholder="dd/MM/yyyy">
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <span style="font-weight: 600;">คลินิค</span><br>
                                <input type="text" class="form-control" id="txt_daily_clinic" placeholder="คลินิค">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row gutters">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <span style="font-weight: 600;">เวลาเริ่ม</span><br>
                                <input type="text" class="form-control" id="txt_daily_start_time" placeholder="00.00">
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <span style="font-weight: 600;">เวลาสิ้นสุด</span><br>
                                <input type="text" class="form-control" id="txt_daily_end_time" placeholder="00.00">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row gutters">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <span style="font-weight: 600;">จำนวนที่จำกัด</span><br>
                                <input type="text" class="form-control numericOnly" id="txt_daily_patient" placeholder="0">
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <span style="font-weight: 600;">จำนวนคนที่สำรอง</span><br>
                                <input type="text" class="form-control numericOnly" id="txt_daily_sub" placeholder="0">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-danger" data-dismiss="modal">ยกเลิก</a>
                    <a href="javascript:void(0);" class="btn btn-primary">บันทึก</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade add-dailyplan-allday" tabindex="-1" role="dialog" aria-labelledby="AddDailyPlanAllDay" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group">
                        <img src="/images/img_appointment.png" style="max-width: 70px; max-height: 70px;" alt="" />
                        <span style="font-size: 18px; font-weight: 600;">กำหนดรายวัน</span>
                    </div>
                    <div class="form-group">
                        <div class="row gutters">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <span style="font-weight: 600;">เลือกวันทุกๆ</span><br>
                                <select class="form-control selectpicker" id="slt_allday_date">
                                    <option>วันอาทิตย์</option>
                                    <option>วันจันทร์</option>
                                    <option>วันอังคาร</option>
                                    <option>วันพุธ</option>
                                    <option>วันพฤหัสบดี</option>
                                    <option>วันศุกร์</option>
                                    <option>วันเสาร์</option>
                                </select>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row gutters">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <span style="font-weight: 600;">เวลาเริ่ม</span><br>
                                <input type="text" class="form-control" id="txt_allday_start_time" placeholder="00.00">
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <span style="font-weight: 600;">เวลาสิ้นสุด</span><br>
                                <input type="text" class="form-control" id="txt_allday_end_time" placeholder="00.00">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row gutters">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <span style="font-weight: 600;">จำนวนที่จำกัด</span><br>
                                <input type="text" class="form-control numericOnly" id="txt_allday_patient" placeholder="0">
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <span style="font-weight: 600;">จำนวนคนที่สำรอง</span><br>
                                <input type="text" class="form-control numericOnly" id="txt_allday_sub" placeholder="0">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-danger" data-dismiss="modal">ยกเลิก</a>
                    <a href="javascript:void(0);" class="btn btn-primary">บันทึก</a>
                </div>
            </div>
        </div>
    </div>

    <!-- ######################## Footer ######################## -->
    <footer class="main-footer" style="margin-right: 15px; margin-left: 15px;" id="include_footer"></footer>

    <!-- ###################### javascript ###################### -->
    <!-- Data Tables -->
    <script src="~/js/dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap.min.js"></script>

    <!-- Custom Data tables -->
    <script src="~/js/custom-datatables.js"></script>
    <script src="~/js/fixedHeader.js"></script>

    <!-- Datepickers -->
    <script src="~/js/picker.js"></script>
    <script src="~/js/picker.date.js"></script>
    <script src="~/js/custom-picker.js"></script>

    <!-- Fullcalendar -->
    <script src="~/js/fullcalendar.min.js"></script>
    <script src="~/js/custom-calendar.js"></script>

    <script language="javascript">
            jQuery(document).ready(function () {
                jQuery("#include_header").load("~/Pages/Doctor/header.cshtml");
                jQuery("#include_menu_top").load("~/Pages/Doctor/menu_top.cshtml");
                jQuery("#include_footer").load("~/Pages/Doctor/footer.cshtml");

                onloadDataDoctorDailyPlan();
            });

            jQuery(".numericOnly").keypress(function (e) {
                if (String.fromCharCode(e.keyCode).match(/[^0-9]/g)) return false;
            });
    </script>

</body>
</html>
